 .products-grid{

     text-align: center;
     max-width: 1200px;
     margin: 20px auto ;

 }



 .item{

     display: inline-block;
     width: 20%;
     margin-right: 2.22222%;
     border: 1px solid #ededed;
     padding: 10px;
     margin: 10px 15px;

 }

 .item:hover{

     border: 1px solid #3399cc;

 }

 .product-image{
     display: block;
     border: solid 1px #ededed;
     width: 100%;
     margin-bottom: 10px;


 }

 .product-image>img{

     max-width: 100%;

 }

 .product-image:hover{

     /*border: 1px solid #3399cc;*/

 }



 .product-name>a{

     text-transform: uppercase;
     margin-bottom: 5px;
     font-size: 14px;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     text-rendering: optimizeLegibility;
     color: #636363;
     font-weight: 500;

 }

 .product-name>a:hover{

     color:#3399cc;

 }

 .price{

     white-space: nowrap;
     font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
     color: #3399cc;
     font-size: 16px;

 }


 button, input, textarea {

     outline:none;

 }




 .wrapper_main_content{

     max-width: 1200px;
     margin: 30px auto;

     width: 100%;

     /*outline: solid 1px lime;*/


 }

 .main_content{

     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     position: relative;

 }

 .main_content>form>h1{

     font-size: 24px;
     font-weight: 600;
     text-transform: uppercase;
     color: #636363;
     padding-bottom: 20px;
     border-bottom: 1px solid #ededed;
     display:inline-block;
     width: 60%;

 }

 .btn-checkout{

     display:inline-block;
     float: right;
     background: #3399cc;
     padding: 7px 15px;
     border: 0;
     color: #FFFFFF;
     font-size: 13px;
     font-weight: normal;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     line-height: 19px;
     text-align: center;
     text-transform: uppercase;
     vertical-align: middle;
     white-space: nowrap;

 }

 .btn-checkout:hover{

     background: #2e8ab8;
     cursor: pointer;
     border: 0;
     border-style: none;

 }

 .btn-checkout:active,.btn-checkout:focus{

     border: 0;
 }



 .cart-table{

     width: 60%;
     float: left;
     margin-bottom: 50px;

 }


 .cart-table>thead{

     color: #636363;
     font-size: 14px;
     line-height: 1.5;
     text-transform: uppercase;

     /*border-bottom: 1px solid #ededed;*/
     border-bottom: 1px solid silver;
 }

 .cart-table>tbody>tr{

     /*border-bottom: 1px solid #ededed;*/
     border-bottom: 1px solid silver;

 }

 .cart-table>thead>tr>th{

     padding: 10px 0px;

 }

 .cart-table>tbody>tr>td{

     padding: 10px;

 }


 .cart-table th{

     text-align: center;

 }

 .product-cart-image{

     display: table-cell;
     height: 112px;
     width: 112px;
     max-width: 100%;

 }



 .product-image{

     border: 1px solid #ededed;
     margin: 0px;

 }


 .cart-table h2 {

     color: #636363;
     font-size: 14px;
     font-weight: 600;
     margin-bottom: 0;
 }

 .product-cart-info{

     padding: 10px 5px 10px 15px;
     vertical-align: top;
     width: 200px;

 }

 .product-name>a {
     font-family: "Helvetica Neue", "Verdana", Arial, sans-serif;
     color: #636363;
     font-size: 14px;
     font-weight: 600;
     margin-bottom: 0;

 }


 .cart-table .product-cart-sku {
     font-family: Georgia, Times, "Times New Roman", serif;
     font-style: italic;
     font-size: 12px;
     margin: 5px 0 12px;
 }


 /*
    .label{

    font-weight: 600;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 12px;

    }*/

 .product-cart-price, .product-cart-total{

     vertical-align: top;
     padding: 10px 5px;
     text-align: center;
 }

 .cart-price{


     color: #636363;
     font-size: 14px;
     line-height: 1.5;

 }




 .product-cart-actions{

     vertical-align: top;
     text-align: center;
     padding: 10px 5px;

 }

 .qty{


     width: 40px;
     height: 40px;
     border-radius: 2px;
     border: 1px solid silver;
     background: #FFFFFF;
     font-size: 15px;
     text-align: center;
     vertical-align: middle;
     font-family: "Helvetica Neue", Verdana, Arial, sans-serif;

 }



 .cart-table>tbody>tr>.product-cart-remove{

     vertical-align: top;
     /*padding: 0px 10px;*/
     text-align: center;


 }



 .btn-remove{

     display: inline-block;
     width: 20px;
     height: 20px;
     background-image: url("/images/icon_sprite.png");
     background-position: 4px -648px;
     background-repeat: no-repeat;
     vertical-align: top;
     font-size: 0px;
     box-sizing: border-box;
     cursor:pointer;

 }


 td.last{

     padding: 10px;
     border-bottom: 1px solid silver;

 }



 .btn-empty{

     float: left;

     border: 0;
     padding: 0 5px;
     margin: 0;
     background: transparent;
     cursor: pointer;
     vertical-align: middle;
     line-height: 30px;
     height: 30px;
     text-decoration: underline;
     text-transform: uppercase;
     display: inline-block;
     color: #3399cc;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     font-size: 14px;
 }

 .btn-clearall,.btn-continue{

     border: 0;
     padding: 0 5px;
     margin: 0;
     background: transparent;
     cursor: pointer;
     vertical-align: middle;
     line-height: 30px;
     height: 30px;
     text-decoration: underline;
     text-transform: uppercase;
     display: inline-block;
     color: #3399cc;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     font-size: 14px;

 }

 .cart-table span.or {
     font-size: 10px;
     padding: 0 5px;
     text-transform: uppercase;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
 }

















 .checkout{
     box-sizing: border-box;
     display: block;
     float: right;
     clear: right;
     width: 38%;
     padding-left: 20px;
     background-color: #f4f4f4;

     padding: 10px;
     border: 1px solid #cccccc;
     margin-bottom: 20px;
     /*text-align: center;*/
 }

 .checkout h2{
     font-size: 16px;
     font-weight: bold;
     margin: 10px 2px ;
     color: #636363;
     font-style: normal;
     line-height: 1.2;
     text-rendering: optimizeLegibility;
     text-transform: uppercase;
     /*text-align: center;*/
 }

 .shipping_form{



 }

 .form-name,.form-tel,.form-eladres,.form-adres{

     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     width: 40%;
     float: left;
     margin: 5px 5% 10px 0;


 }




 .input-box>input{

     max-width: 100%;
     height: 30px;
     display: block;
     border: 1px solid silver;
     box-sizing: border-box;

 }

 .input-box>textarea{


     border: 1px solid silver;


 }



 label{

     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     text-transform: uppercase;
     font-size: 13px;
     font-weight: 400;


 }

 label.required em {
     display: none;
 }



 label.required:after{
     content: ' *';
     color: red;
     font-weight: normal;
     font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
     font-size: 12px;
 }


 textarea{

     resize: none;

 }


 #shopping-cart-totals-table{

     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     font-size: 12px;
     margin-bottom: 20px;
     text-transform: uppercase;
     width: 100%;
     border-collapse: collapse;
     color: #636363;

 }

 #shopping-cart-totals-table tfoot{

     border-top: 1px solid #E6E6E6;
     border-bottom: 1px solid #E6E6E6;

 }


 .cart .cart-totals table td:first-child {
     padding-right: 10px;
     min-width: 120px;
 }



 table tfoot td, a-right{
     font-size: 24px;
     padding: 2px 5px;
     vertical-align: top;
     font-weight: 400;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     text-transform: uppercase;
     color: #636363;
 }

 td>.price{
     color: #636363;
     line-height: 1.5;
     font-size: 14px;
 }

 strong>.price{

     font-size: 24px;
     padding: 2px 5px;
     vertical-align: top;
     font-weight: 400;
     font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
     text-transform: none;
     color: #636363;

 }

 .a-right, .align-right {
     text-align: right;
 }


