/* include fonts*/
@font-face {
    	font-family: Raleway; 
    	src: url(../fonts/Raleway-Regular.ttf) format('truetype');    	
}
		
@font-face {
	font-family: ubuntu-regular;
	src: url(../fonts/ubuntu-regular.ttf);
}

@font-face {
	font-family: ubuntu-bold;
	src: url(../fonts/ubuntu-bold.ttf);
}

@font-face {
	font-family: icomoon;
	src: url(../fonts/icomoon.ttf);
}
/* include fonts*/

/*Link style*/
A:link { text-decoration: none; }
A:visited { text-decoration: none; }
A:active { text-decoration: none; }
/*Link style*/
