@import 'reset';
@import 'common';

/*
@import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css);
*/


$font-stack: Raleway, Helvetica Neue, Verdana, Arial, sans-serif;
$font-color: #636363;
$primary-color: #3399cc;
$primary-color:#247096;


html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color:white;
}


#header{
    font-family: $font-stack;
}


.menu-block{
    display:flex;

    -webkit-justify-content: center; /* Safari */
    justify-content: center;

    -webkit-align-items: center; /* Safari */
    align-items: center;
    margin:auto 20px;
    cursor:pointer;
    min-width:152px;
}

.menu-button{
    position:relative;
    color:white;
    background-color:$primary-color;
    height:40px;
    line-height: 40px;

    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

}

.menu-button:hover{
    .sub-menu{
	display:block;
    }
}

.menu-title{
    display:block;
    font-family:$font-stack;
    font-size:18px;
    font-weight:400;
    text-transform: uppercase;
}

.menu-title:before{
    display:inline-block;
    font-family: 'icomoon';
    content: '\e965';
    font-size:19px;
    font-weight:200;
    vertical-align: -2px;
    margin:auto 10px;
}

.menu-title:after{
    display:inline-block;
    font-family: 'icomoon';
    content: "\e96a";
    font-size:14px;
    margin:auto 10px;
    font-weight:400;
}


.sub-menu{

    z-index:999;
    display:none;
    height:auto;
    width:auto;
    //color:#636363;
    color:$font-color;
    position:absolute;
    border:3px solid $primary-color;
    //border-right:1px solid #ededed;
    //border-right:3px dashed #ededed;
    //border-right:3px double #ededed;
    //width:180px+466px;
    background-color:white;

    &>ul{
	display:block;
    }

    & *{
	font-size:14px;
    }

    &>ul>li{
	display:flex;
	font-family:'ubuntu-regular';
	line-height:normal;
	padding:10px 10px;
	font-size:14px;
	//border-bottom: 1px solid #ededed;
	cursor:pointer;
	width:200px;
	//text-transform:uppercase;


	a{
	    color:$font-color;
	    display:flex;
	    -webkit-align-items: center; /* Safari */
	    align-items: center;
	    padding:0px;
	}

	a:hover{
	    background-color:white;
	    color:#e47911;
	}

	a:after{
	    content:'';
	    border: solid transparent;
	    border-color: rgba(221,221,221,0);
	    border-width: 6px;
	    //border-left-color: #636363;
	    border-left-color: $font-color;
	}
    }


    li:first-child{
	//border-top: 10px solid #ededed;
	//border-top: 10px solid white;
    }
    li:last-child{
	//border-bottom: 10px solid;
	margin-bottom:10px;
    }

    li:hover{
	//color:white;
	//background-color:$primary-color;
	color:#e47911;
	//font-size:13px;
	.sb-menu{
	    display:block;
	}
	a{
	    color:#e47911;
	}
	a:after{
	    border-left-color: #e47911;
	}
    }

}

.sb-menu{
    display:none;
    //color:#636363;
    box-sizing:content-box;
    color:$font-color;
    position:absolute;
    top:-3px;
    left:100%;
    width:200%;
    border:3px solid $primary-color;
    border-left:0px;
    height:100%;
    background-color:white;

    li{
	//display:flex;
	box-sizing:border-box;
	font-family:'ubuntu-regular';
	line-height:normal;
	padding:10px 10px;
	font-size:12px;
	//border-bottom: 1px solid #ededed;
	cursor:pointer;
	width:100%;
	text-transform:uppercase;
    }
    li:first-child{
	//border-top: 10px solid #ededed;
	//border-top: 10px solid white;
    }
    li:last-child{
	//border-bottom: 10px solid white;
    }
    li:hover{
	color:white;
	background-color:$primary-color;
    }

}











.header-links {
    color: white;
    color: $primary-color;

    padding: 5px;
    background-color: $primary-color;
    background-color: #f8f8f8;
    text-transform: uppercase;
    font-size: 12px;
    text-align: right;
    //text-align: left;
}

.header-links>ul{
    display: inline-block;
    cursor: pointer;
}

.header-links li{
    display: inline-block;
    margin:5px 20px;
}

.header-links li>a{
    color:white;
    color: $primary-color;
}


.header-links li:hover{
    text-decoration: underline;
}


.header-main{
    display:flex;
    /*outline:1px solid grey;*/
    -webkit-justify-content: space-around; /* Safari */
    justify-content: space-around;
    width: 100%;
    padding: 0px 20px;
}

.logo-block{
    text-align: center;
    margin:auto 20px;
}



.logo-conteiner{
    margin: 10px 0;
    /*width:310px;*/
}

.logo{
    display: block;
    width: inherit;
}

.logo-img {
    /*height:30px;*/
    width:310px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ededed;
}

.logo-description {
    display: block;
    width: inherit;
    text-align: center;
    margin: 0px 0px 0px;
    text-decoration: none;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 15px;
    color:$font-color;
}











/*
input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text] {
    height: 30px;
    padding: 0 8px;
}
*/

.search-block{
    //display:flex;

    -webkit-justify-content: center; /* Safari */
    justify-content: center;

    -webkit-align-items: center; /* Safari */
    align-items: center;

    /*
    -webkit-flex-grow:0.6;
    flex-grow:0.6;
   */
    margin: auto 20px;

}

.search-conteiner{
    /*position: relative;*/

    width:500px;
    //width:auto;
    min-width:300px;
}

.input-box{
    display:flex;
    background-color:$primary-color;
    button:hover{
	background-color:$primary-color;
    }
    
    button:active { 
	background-color: $primary-color;
    }
}

#search {

    box-sizing:border-box;
    width: 100%;
    height: 40px;
    //padding-right: 40px;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    //color: #636363;
    color:$primary-color;
    line-height: 1.5;
    background: #FFFFFF;
    font-size: 15px;
    border: 3px solid $primary-color;
    padding:10px;
    margin-bottom:0px;

    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    color:$font-color;
}


.search-button {
    color:white;
    /*text-indent: -9999px;*/
    /*position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: none;*/
    display:block;
    //width: 40px;
    height: 40px;
    cursor: pointer;
    border: 3px solid $primary-color;
    background-color: $primary-color;
    /*border-left: solid 1px silver;*/
    outline: none;
    padding:0px 15px;
    font-size:16px;
    
    webkit-transition: border .3s, -webkit-box-shadow .3s; 
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s; 
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
								    
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

}

.search-button:active {

    /*background: #3399cc;*/
    margin-top: 2px;
}



/*
.search-button:before{

    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;

    background-position: 4px -146px;
    background-image: url(images/icon_sprite.png);
    background-repeat: no-repeat;

}
*/
















.contact-block{
    display:flex;
    text-align: left;
    //outline:1px solid aqua;

    -webkit-justify-content: center; /* Safari */
    justify-content: center;


    -webkit-align-items: center;
    align-items: center;

    margin:auto 20px;
}

@media only screen and (max-width: 1380px) {
     .contact-block{
	 display:none;
    }
}

.contact-info{
    /*position: absolute;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*top:46%;
			left: 79%;*/
    /*width: 255px;*/
    width: 100%;
}



.tel{
    /*position: absolute;*/
    display: inline-block;
    top:46%;
    left: 90%;
    font-size: 14px;
    text-transform: uppercase;
    color: #636363;
    margin-right: 25px;
/*
			padding: 10px;
			border: 1px solid #ededed;
*/

}


.timetable{

    /*position: absolute;*/
    display: inline-block;
    top:46%;
    left: 78%;
    font-size: 15px;
    /*text-transform: uppercase;*/
    color: #636363;
    margin-right: 15px;
    text-align: left;

}

@media only screen and (max-width: 1520px) {
     .timetable{
	 display:none;
    }
}

.tel-title{

    display: inline-block;
    padding: 0px;

}




.timetable>li>a:not(.tel-title){
    display: inline-block;
    padding-right: 30px;
    color: #636363;

}

li>a.tel-title{

    color: #3399cc;

}
















.cart-block{

    cursor:pointer;
    display:flex;
    text-align: left;

    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;

    -webkit-justify-content: center; /* Safari */
    justify-content: center;


    -webkit-align-items: center;
    align-items: center;



    //outline:1px solid red;

}

.cart{

    text-align:center;
    color: #00a464;
    //color:#f08804;
    //text-transform: uppercase;
    //width: auto;
    font-size: 15px;
    margin-top:-8px;
}

.cart-icon{
    display: inline-block;

    width: 40px;
    height: 40px;
    margin-bottom:-5px;

    /*
    width:100%;
    height:100%;
   */

    /*
    background-position: 0px -95px;
    background-image: url(../images/icon_sprite.png);
    background-repeat: no-repeat;
   */

    background-image: url(../images/shopping-cart-icon.png);
    background-image: url(../images/cart.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

/*
    line-height:42px;
    text-align: center;
*/
}

.cart-label{

    //position: relative;
    //top: 2px;
    //display: inline;
    //line-height:42px;
    //text-align: center;

}



/*
.cart>.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-position: 0px -95px;
    background-image: url(../img/icon_sprite.png);
    background-repeat: no-repeat;
    line-height:42px;
    text-align: center;

}

.cart>.label {

    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    position: relative;
    top: 2px;
    display: inline;
    line-height:42px;
    text-align: center;
}

.cart>.count {

    font-family:"Helvetica Neue", Verdana, Arial, sans-serif;
    position: relative;
    top: 1px;
    display: inline;
    line-height:42px;
    text-align: center;
}

*/

.cart>.count:before{

    content: '(';

}


.cart>.count:after{

    content: ')';

}




















/*
 *{
  box-sizing:border-box;
  font-family:"Dosis", sans-serif;
}

.main-navigation{
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin:2em;
}

ul{
  margin:0; //reset
  padding:0;
}

.menu{
  display:flex;
  flex-direction:column;

  li{
    display:block;
    list-style-type:none;
    text-transform:uppercase;
  }

  li a{
    //display:flex;
    text-align:center;
    text-decoration:none;
    color:#777;
    padding:1rem;
  }

  li a:hover{
    background:#777;
    color:#fff;
  }
}

@media (min-width: 800px) {
    .menu{
      flex-direction:row;
      justify-content:space-between;
    }
}


.menu-item-has-children > a:after{
  font-family:'Genericons';
  content: '\f431';
  padding:1px;
}


nav ul ul {
    //display: none;
}

@media (min-width: 800px) {
  nav ul ul {
    //display: none;
    position:absolute;
  }
}

nav ul li:hover > ul {
  display:block;
  color:#fff;
  padding-left:2rem;
}

@media (min-width: 800px) {
  nav ul li:hover > ul {
    padding-left:0;
    background:#777;
  }

  nav ul li:hover > ul a{
    color:#fff;
  }

  .sub-menu{
    li{
      display:flex;
      padding-right:2em;
    }

    li:hover, li a:hover{
      background:#ddd;
      color:#777;
    }
  }

  nav ul ul ul{
    margin:0 0 0 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  }

  .menu-item-has-children .menu-item-has-children > a:after{
    font-family:'Genericons';
    content: '\f431';
    padding:1px;
    transform: rotate(-90deg);
  }

}
*/

.main{
    margin-top:10px;
    //display:flex;
    -webkit-justify-content: center; /* Safari */
    justify-content: center;
}


.carousel{
    display:block;
    position:static;
    //height:100%;
    //height:auto;
    height:500px;
    overflow:visible;
    -webkit-perspective: 500px;
    perspective: 500px;
    margin-bottom:70px;
}

.carousel .carousel-item {
    width:965px;
    height:478px;

}


.carousel .indicators {
    z-index:999;
    bottom:-50px;
}
.carousel .indicators .indicator-item.active {
    background-color: #595959;
}

.carousel .indicators .indicator-item {
    background-color: #dcdede;
    height:10px;
    width:10px;
}














.category-block{
    display:block;
    width:100%;
    //outline:1px solid red;
    text-align:center;
    max-width:965px;
    margin:auto auto;
    color:black;
}

.category-head{
    margin-bottom:70px;
    font-family:$font-stack;
    font-size:22px;
    font-weight:600;
}

.category-list{
    display:flex;
    -webkit-justify-content: space-around; /* Safari */
    justify-content: space-around;
    margin-bottom:50px;
}

.category-tab{
    cursor:pointer;
}

.category-img{
    width:90%;
    //width:200px;
    height:auto;
}

.category-name{
    margin:10px;
    padding:3px;
    font-family:$font-stack;
    color:black;
    color:$font-color;
    //text-decoration:underline;
    font-weight:400;

    //border-bottom:1px solid black;
}





















.special-category-block{
    //@extend .category-block;
    display:block;
    width:100%;
    //outline:1px solid red;
    text-align:center;
    max-width:965px;
    margin:auto auto;
    color:black;
    overflow:hidden;
}
.special-category-head{
    @extend .category-head;
}

.special-1{
    border-bottom:1px solid #ededed;
    margin-bottom:20px;
}

.special-category-list a{

    color:$font-color;
    @extend .category-list;
    -webkit-align-items: center; /* Safari */
    align-items: center;
}

.special-category-description{
    @extend .category-name;
    h3{
	color:black;
	font-size:24px;
    }
}

.dotted{
    display:inline-block;
    border-bottom:1px solid black;
    width:20%;
    height:1px;
    line-height:20px;
    margin-bottom:5px;
}


.special-last{
    display:flex;
    //border-bottom:1px solid #ededed;
    padding-bottom:20px;
    //margin-bottom:20px;
    .special-category-link{
	box-sizing:border-box;
	width:50%;
	margin:0px 20px;

	&:first-child{
	    border-right:1px solid #ededed;
	}
	
	img{
	    width:100%;
	}
	
    }
}









#footer{
    //margin-top: 50px;
}




.footer-conteiner{
    background-color:#f8f8f8;
    display:flex;
    //border-top: 1px solid #cccccc;
    padding-top: 50px;
}


.links {
    //padding: 0 30px 0 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    margin-left:10%;
}

.footer-conteiner .links li {
    word-break: break-all;
    line-height: 1.4;
    padding: 4px 0;
}


.footer-conteiner .links a:hover {
    color: $primary-color;
    text-decoration: underline;
}

.block-title{

    color: $primary-color;
    margin-bottom: 10px;
    //border-top: 1px solid #cccccc;
    line-height: 1.5;
    font-size: 14px;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;


}

.block-title strong{


}

.links>ul>li>a{

    color:#636363;
    text-transform: uppercase;
    font-size: 12px;

}

.links>ul>li>a:hover{

    color:#636363;

}


.footer-conteiner .links.social-media em {
    /*background-image: url(../img/social_icons.png);*/
    height: 13px;
    background-repeat: no-repeat;
    width: 13px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 7px;
}

em.facebook{
    background-position: -25px -0px;
}


em.twitter {
    background-position: -25px -24px;
}

em.youtube {
    background-position: -25px -49px;
}

em.pinterest {
    background-position: -25px -74px;
}

em.rss {
    background-position: -25px -99px;
}


