 .main{
     margin-bottom: 50px;
 }


 .breadcrumbs{
     position: relative;
     width: 1200px;
     margin: 10px auto;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     text-transform: uppercase;
 }


 .breadcrumbs>ul>li{
     font-size: 12px;
     color: #636363;
     display: inline;
 }

 .breadcrumbs>ul>li>a:visited{

     color: #636363;

 }

 .breadcrumbs>ul>li>a:hover{

     text-decoration: underline;
     color: #3399cc;

 }

 .breadcrumbs>ul>li>span {

     padding: 10px;

 }

 .col-main {

     max-width: 1200px;
     margin: 10px auto;
     outline: hidden;
     /*display: table;*/
     margin-bottom: 20px;
 }


 .product-wrapper{

     display: table;
     width: 100%;
     margin-bottom: 50px;

 }

 .product-image-box{
     width: 50%;
     display:block;
     float:left;
     /*margin: 10px 10px 10px 0px;*/

 }

 .image-grid{

     display:block;
     float:left;
     /*width: 110px;*/
     overflow: hidden;
     margin-right: 10px;

 }


 .slides-grid{

     margin: 10px 5px;

 }


 .slick-slide{

     padding: 3px;
     /*height: 100px;*/
     overflow: hidden;
     margin-bottom: 10px;
     border: 1px solid #cccccc;
     /*border-color: rgb(231, 118, 0);
	box-shadow: rgba(228, 121, 17, 0.498039) 3px 3px 3px 3px;*/


 }

 .slick-slide:hover{

     border-color: #3399CC;
     box-shadow: rgba(51, 153, 204, 0.498039) 0px 0px 3px 3px;

 }

 .active{

     border-color: #3399CC;
     box-shadow: rgba(51, 153, 204, 0.498039) 0px 0px 3px 3px;

 }

 .product-image{

     height:400px;
     width:400px;
     overflow: hidden;
     outline-color: red;
     text-align: center;
     /*border: 1px solid red;*/

 }

 .product-image>img{
     height:400px;
     width:400px;
 }


 .product-shop{

     width: 50%;
     /*margin: 10px 10px 10px 0px;*/
     display:block;
     float:left;
     /*border: 1px solid lime;*/
     text-align: center;

 }

 .product-name>h1{

     color: #3399cc;
     font-size: 28px;
     font-weight: 400;
     padding-bottom: 3px;
     text-transform: uppercase;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     text-align: left;

 }

 .product-special-price-container{

     text-align: center;

     color: #3399cc;
     color: #9e9e9e;
     font-size: 24px;
     white-space: nowrap;
     font-family: "Helvetica Neue", Verdana, Arial, sans-serif;


     font-family: Georgia,"Times New Roman",Times,serif;
     font-style: italic;
     font-size: 32px;
     line-height: 1.1em;
     margin-bottom: 10px;
     display: inline-block;
     margin-right: 20px;
     text-decoration: line-through;
 }


 .product-price-container{

     text-align: center;

     color: #3399cc;
     color: #e09d00;
     font-size: 24px;
     white-space: nowrap;
     font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
     font-family: Georgia,"Times New Roman",Times,serif;
     font-style: italic;
     font-size: 40px;
     line-height: 1.1em;
     margin-bottom: 20px;
     display: inline-block;
 }


 .service-information{

     font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
     color: #636363;
     font-size: 12px;
     line-height: 1.5;
     margin-bottom: 20px;
     clear: both;
     padding-bottom: 20px;
     border-bottom: 1px solid #cccccc;
     /*outline: 1px solid green;*/


 }

 .service-information li{

     display: inline-block;
     border:1px solid #3399cc;
     padding: 3px;
     width: 31%;
     text-align: center;

 }

 .service-information li:hover{

     color: white;
     background-color: #3399cc;
     cursor: pointer;

 }

 #popup, .bMulti {
     margin-top: 5%;
     min-height: 250px;
     max-width: 500px;
     width: 100%;
 }

 #popup, #popup2, .bMulti {
     background-color: #fff;
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 25px 5px #999;
     color: #111;
     display: none;
     min-width: 550px;
     padding: 25px;
 }

 .button.b-close, .button.bClose {
     border-radius: 7px 7px 7px 7px;
     box-shadow: none;
     font: bold 131% sans-serif;
     padding: 0 6px 2px;
     position: absolute;
     /*
	right: -8px;
	top: -8px;
      */
 }

 .b-close {
     width: 24px;
     height: 24px;
     box-shadow: none;
     font: bold 131% sans-serif;
     padding: 3px;
     position: absolute;
     right: -14px;
     top: -14px;

     background-color: #3399cc;
     border-radius: 30px;
     box-shadow: 0 2px 3px rgba(0,0,0,0.3);
     color: #fff;
     cursor: pointer;
     display: inline-block;
     text-align: center;
     text-decoration: none;
     border:2px solid white;
     vertical-align: middle;


 }

 .b-close:hover{

     background: #247096;

 }

 .b-close>span {
     font-size: 85%;
 }


 #popup, #popup2, .bMulti {
     background-color: #fff;
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 30px 3px #999;
     color: #111;
     display: none;
     min-width: 450px;
     padding: 25px;
 }



 .std{

     text-align: left;

 }

 .add-to-cart{

     text-align: left;

 }


 .qty-wrapper{

     display: inline-block;
     /*width: 100px;*/
     margin: 0 10px;

 }

 .qty-wrapper>label{

     font-size: 13px;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     font-weight: 600;
     color: #636363;

 }



 #qty{

     width: 35px;
     height: 40px;
     border-radius: 2px;
     border: 1px solid silver;
     background: #FFFFFF;
     font-size: 15px;
     text-align: center;
     vertical-align: middle;

 }

 .btn-cart{



     background: #3399cc;
     display: inline-block;
     padding: 7px 15px;
     border: 0;
     color: #FFFFFF;
     font-size: 13px;
     font-weight: normal;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     line-height: 19px;
     text-align: center;
     text-transform: uppercase;
     vertical-align: middle;
     white-space: nowrap;
     cursor: pointer;


     height: 40px;
     line-height: 40px;
     font-size: 16px;
     padding: 0px 30px;
     /*float: left;*/
     min-width: 160px;
     width: 100%;


 }

 .btn-cart:hover{

     background: #247096;

 }


 .subproducts{

     margin-top:10px;
 }

 .subproducts-grid{

    display: flex;
    /*flex-direction: row;*/

 }

 .subproduct{
     width:20%;
     /*outline:1px solid lime;*/
 }
 
 .plus{

    /*outline:1px solid red;*/
    width:10%;
    display: inline-block;
    font-size: 70px;
    text-align:center;
    padding-top: 20px;
    /*
    margin-left: 42px;
    margin-right: 72px;
    */
    color: #595959;
     
 }


 /*Description tabs*/
 .descripti-header{
 
 }
 
 .tabs{
     
     cursor:pointer;
     float: left;
     /*margin-right: 5px;*/
     display: block;
     //padding: 0px 40px;
     margin: 0px 40px;
     //background-color: #636363;
     //border: solid 1px #cccccc;
     /*border-radius:20px 20px 0 0;*/

     height: 40px;
     line-height: 40px;
     text-transform: uppercase;
     font-size: 14px;
     /*font-family: "Helvetica Neue", Verdana, Arial, sans-serif;*/
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     margin-right: -1px;
     margin-bottom: -1px;

     //background-color: #f4f4f4;

     color: #636363;
     width:auto;

 }

 .content{
     border: solid 1px #cccccc;;
 }

 .description-tabs>input {
     /*display: none;*/
 }

 /*
 &:checked + label {

     background-color: #e74c3c;
     color:#fefefe;
 }
 */

 input[name="tab"]{

     color:#3399cc;
     background-color: white;
 }

 .tab{

     width:100%;
     height:100%; 
 }

 
 /*
 input[id="tab-0"]:checked ~ .tab0{

     color:#3399cc;
     background-color: white;
 }

 input[id="tab-1"]:checked ~ .tab1{

     color:#3399cc;
     background-color: white;

 }
 input[id="tab-2"]:checked ~ .tab2{

     color:#3399cc;
     background-color: white;

 }
 input[id="tab-3"]:checked ~ .tab3{

     color:#3399cc;
     background-color: white;

 }
 */

 /*
 input[id="tab-0"]:checked ~ .content .tab-0,
 input[id="tab-1"]:checked ~ .content .tab-1,
 input[id="tab-2"]:checked ~ .content .tab-2,
 input[id="tab-3"]:checked ~ .content .tab-3{
     
     display: block;
     border:solid 1px #cccccc;
     border-top:1px solid white;
     margin-top:-1px;
     font-size: 14px;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     font-weight: 600;
     color: #636363;
     
 }
*/


 .content {
     clear:both;
     position: relative;
 }

 .content>article {

     width: 100%;
     padding: 20px 20px;
     /*position: absolute;*/
     top: 0;
     left: 0;
     //text-indent: 30px;
     //display: none;
     /*border-top:2px solid black;*/
     /*border-radius:0 10px 10px 10px;*/
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     color: #636363;
     font-size: 16px;
     line-height:24px;
     max-width: 1200px;
     -moz-box-sizing: border-box; /* Для Firefox */
     box-sizing: border-box;


 }

 .content>article p{

     text-indent:30px;

 }




 .content>article ul{

     padding: 0 0 0 50px;

 }
 .content>article li{

     list-style-type: disc;

 }

 h2{

     margin: 10px 0;
     color: #636363;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     font-size: 20px;
     font-weight: 400;
     line-height: 24px;
     text-rendering: optimizeLegibility;
     text-transform: uppercase;
 }


 h2.subtitle {
     margin: auto;
     padding: 6px 0;
     text-align: center;
     color: #3399cc;
     font-weight: 400;
     border-bottom: 1px solid #cccccc;
     border-top: 1px solid #cccccc;
     cursor: pointer;
     max-width:1200px;
 }



 .products-grid{

     text-align: center;
     max-width: 1200px;
     margin: 20px auto ;

 }


 .item{

     display: inline-block;
     width: 20%;
     margin-right: 2.22222%;
     border: 1px solid #ededed;
     padding: 10px;
     margin: 10px 15px;
     margin-bottom: 30px;
     height: 350px;

 }

 .item:hover{

     border: 1px solid #3399cc;

 }

 a>.product-image{
     display: block;
     border: solid 1px #ededed;
     width: 100%;
     margin-bottom: 10px;


 }

 .product-image>img{

     max-width: 100%;

 }

 .product-image:hover{

     /*border: 1px solid #3399cc;*/

 }

 .product-name>a{

     text-transform: uppercase;
     margin-bottom: 5px;
     font-size: 14px;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     text-rendering: optimizeLegibility;
     color: #636363;
     font-weight: 500;

 }

 .product-name>a:hover{

     color:#3399cc;

 }

 .price{

     white-space: nowrap;
     font-family: Georgia,"Times New Roman",Times,serif;
     color: #e09d00;
     //font-size: 16px;
     font-style: italic;

 }

 #product-attribute-specs-table {
     width: 100%;
     max-width: 50em;
 }


 #product-attribute-specs-table th {
     border: 1px solid silver;

 }

 .data-table th {
     background: #f4f4f4;
     text-transform: uppercase;
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
     line-height: 1.4;
     white-space: nowrap;
 }
 .data-table td, .data-table th {
     padding: 10px;
     vertical-align: top;
 }
 th, code, cite, caption {
     font-weight: normal;
     font-style: normal;
     text-align: left;
 }

 .data-table tbody td, .data-table tfoot td {
     font-family: Georgia, Times, "Times New Roman", serif;
 }
 .data-table thead th, .data-table tbody td {
     border: 1px solid silver;
     width: 100%;
 }
 .data-table td, .data-table th {
     padding: 10px;
     vertical-align: top;
 }

 #super-product-table{

     border: 1px solid silver;

 }

 .wrapper-components{

     border:1px solid silver;

 }

 .components{

     margin:30px;
     width: 70%;
     box-sizing: border-box;
 }

 .components{

     padding: 10px;
     text-align: left;

 }

 .components>tbody>tr{

     border-bottom:1px solid silver;
 }

 .components>tbody>.last{
     border-bottom:none;
 }

 tr>.imag{

     padding:4px;

 }

 .num{

     padding: 4px 20px;

 }

 .name-wrapper{

     /*color: #3399cc;*/
     font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;

 }

 .name-wrapper>a{

     color: #3399cc;

 }


 .item>a>img{

     height:240px;
     width:240px;

 }


 h3.product-name{

     height:60px;
     margin-bottom:20px;
     overflow:hidden;

 }


 .price-box{

     font-size:26px;

 }





