<template>
    <div id="category-form">
	<div class="row">
	    <div class="col s12">
		<ul class="tabs">
		    <li class="tab col s6"><a href="#test1">Название</a></li>
		    <li class="tab col s6"><a href="#test2">Продукты</a></li>
		</ul>
	    </div>

	    <div id="test1" class="col s12">

		<div class="input-field col s6">
		    <input @change="setUrl" v-model="name" id="name" type="text" class="validate">
		    <label v-if="!category.name" for="name">Name</label>
		</div>

		<div class="input-field col s6">
		    <input v-model="category.url" id="url" type="text" class="validate">
		    <label v-if="!category.name" for="url">URL</label>
		</div>

		<div class="input-field col s6">
		    <input v-model="category.discount" id="discount" type="text" class="validate">
		    <label v-if="!category.discount" for="discount">Discount</label>
		</div>


	    </div>

	    <div id="test2" class="col s12">

		<list @getChecklist="getChecklist"
		      :checklist="checklist">
		</list>

	    </div>

	</div>

	<a class="waves-effect waves-light btn" @click="saveCategory">Сохранить</a>
	<a class="waves-effect waves-light btn" @click="delCategory">Удалить</a>

	<!--  
	<div>{{resp}}</div>
	<div>{{checklist}}</div>
	<div>{{category}}</div>
        -->

    </div>
</template>


<script>

 //import list from "./table.vue";

 import list from "./table/table.vue";

 export default{

     name:"category-form",
     template: "#category-form",

     components:{
         list:list,
     },

     data,

     methods:{

         urlRusLat,
	 getChecklist,
         saveCategory,
         delCategory,
	 setUrl,
         categoryInit

     },

     watch:{

         name:function(val){
	     this.category.name = val;
             this.category.url = this.urlRusLat(val);
	 }

     },

     beforeMount:[tabsInit,categoryInit]


 }

 function tabsInit(){
     $(document).ready(function(){
	 $('.tabs').tabs();
     });
 }

 function data(){
     return{

	 name:"",

	 category:{

	    name:"",
	    url:"",
	    discount:1,

	 },

	 checklist:[],
	 resp:"",
     }
 }


 function getChecklist(checklist){
     this.checklist = checklist;
 }


 function setUrl(){

 }


 
 function saveCategory(){

     this.$set(this.category,"prod",this.checklist);

     this.$http.post('/api/category/save',this.category)

	 .then(response=>{
             this.resp = response.body;
	     this.checklist = response.body.prod;
             return response;
	 })
         .then(resp =>{
             alert("Сохранение успешно");
	 })
	 .catch(function genericError(error) {
             alert("Ошибка сохранения"); // Error: Not Found
         });

 }


 function delCategory(){

 }



 
 function categoryInit(){

     let id = this.$route.params;
    
     if(id !== "new"){
	 this.$http.post('/api/category/showCategory',id)

	     .then(response=>{

                 this.name = response.body.name;

                 this.category.name = response.body.name;
                 this.category.url = response.body.url;
                 this.category.discount = response.body.discount;
		 this.checklist = response.body.prod;
		 this.resp = response.body;

		 return response;

	     })

	     .then(resp =>{
		 console.log(this.product.id);
	     })
     }
 }









 function urlRusLat(str) {
     str = str.toLowerCase(); // все в нижний регистр
     var cyr2latChars = new Array(
	 ['а', 'a'], ['б', 'b'], ['в', 'v'], ['г', 'g'],
	 ['д', 'd'],  ['е', 'e'], ['ё', 'yo'], ['ж', 'zh'], ['з', 'z'],
	 ['и', 'i'], ['й', 'y'], ['к', 'k'], ['л', 'l'],
	 ['м', 'm'],  ['н', 'n'], ['о', 'o'], ['п', 'p'],  ['р', 'r'],
	 ['с', 's'], ['т', 't'], ['у', 'u'], ['ф', 'f'],
	 ['х', 'h'],  ['ц', 'c'], ['ч', 'ch'],['ш', 'sh'], ['щ', 'shch'],
	 ['ъ', ''],  ['ы', 'y'], ['ь', ''],  ['э', 'e'], ['ю', 'yu'], ['я', 'ya'],

	 ['А', 'A'], ['Б', 'B'],  ['В', 'V'], ['Г', 'G'],
	 ['Д', 'D'], ['Е', 'E'], ['Ё', 'YO'],  ['Ж', 'ZH'], ['З', 'Z'],
	 ['И', 'I'], ['Й', 'Y'],  ['К', 'K'], ['Л', 'L'],
	 ['М', 'M'], ['Н', 'N'], ['О', 'O'],  ['П', 'P'],  ['Р', 'R'],
	 ['С', 'S'], ['Т', 'T'],  ['У', 'U'], ['Ф', 'F'],
	 ['Х', 'H'], ['Ц', 'C'], ['Ч', 'CH'], ['Ш', 'SH'], ['Щ', 'SHCH'],
	 ['Ъ', ''],  ['Ы', 'Y'],
	 ['Ь', ''],
	 ['Э', 'E'],
	 ['Ю', 'YU'],
	 ['Я', 'YA'],

	 ['a', 'a'], ['b', 'b'], ['c', 'c'], ['d', 'd'], ['e', 'e'],
	 ['f', 'f'], ['g', 'g'], ['h', 'h'], ['i', 'i'], ['j', 'j'],
	 ['k', 'k'], ['l', 'l'], ['m', 'm'], ['n', 'n'], ['o', 'o'],
	 ['p', 'p'], ['q', 'q'], ['r', 'r'], ['s', 's'], ['t', 't'],
	 ['u', 'u'], ['v', 'v'], ['w', 'w'], ['x', 'x'], ['y', 'y'],
	 ['z', 'z'],

	 ['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'],['E', 'E'],
	 ['F', 'F'],['G', 'G'],['H', 'H'],['I', 'I'],['J', 'J'],['K', 'K'],
	 ['L', 'L'], ['M', 'M'], ['N', 'N'], ['O', 'O'],['P', 'P'],
	 ['Q', 'Q'],['R', 'R'],['S', 'S'],['T', 'T'],['U', 'U'],['V', 'V'],
	 ['W', 'W'], ['X', 'X'], ['Y', 'Y'], ['Z', 'Z'],

	 [' ', '_'],['0', '0'],['1', '1'],['2', '2'],['3', '3'],
	 ['4', '4'],['5', '5'],['6', '6'],['7', '7'],['8', '8'],['9', '9'],
	 ['-', '-']

     );

     var newStr = new String();

     for (var i = 0; i < str.length; i++) {

         let ch = str.charAt(i);
         var newCh = '';

         for (var j = 0; j < cyr2latChars.length; j++) {
             if (ch == cyr2latChars[j][0]) {
                 newCh = cyr2latChars[j][1];

             }
         }
         // Если найдено совпадение, то добавляется соответствие, если нет - пустая строка
         newStr += newCh;

     }
     // Удаляем повторяющие знаки - Именно на них заменяются пробелы.
     // Так же удаляем символы перевода строки, но это наверное уже лишнее
     return newStr.replace(/[_]{2,}/gim, '_').replace(/\n/gim, '');
 }
</script>

<style scoped>

</style>
