<template>
    <div id="app" class="row">

	<div class="app-wrapper">

	    <leftMenu>
	    </leftMenu>

	    <main class="main">
		<router-view></router-view>
	    </main>

	</div>

    </div>
</template>

<script>

 //import HelloWorld from "./components/HelloWorld.vue";
 import list from "./components/table.vue";
 import leftMenu from "./components/LeftMenu.vue";
 //import productForm from "./components/ProductForm.vue";
 import AdminProduct from "./components/AdminProduct.vue";

 export default {
     name: "app",
     components: {
	 //HelloWorld,
	 list,
	 leftMenu,
	 //productForm,
	 AdminProduct
     }
 };

 $(document).ready(function(){
     $('.collapsible').collapsible();
 });

 $(document).ready(function(){
     $('select').formSelect();
 });

</script>

<style scoped>

 .app-wrapper{
     display:flex;
     height:100vh;
 }

 .main{
     /*flex-grow:1;*/
     background-color:grey;
     width:100%;
 }

 .line{
     margin-top:100px;
     margin-bottom:100px;
     height:50px;
     background-color:grey;
 }

 .nav{

     /*flex-grow:1;*/
     /*height:100%;*/
     /*height:100vh;*/
 }

 .row{
     margin-bottom:0px;
 }

</style>
