@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* include fonts*/

@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway-Regular.ttf?2d4cd8722065da2ac700199273325752) format("truetype");
}

@font-face {
  font-family: ubuntu-regular;
  src: url(/fonts/ubuntu-regular.ttf?1c5965c2b1dcdea439b54c3ac60cee38);
}

@font-face {
  font-family: ubuntu-bold;
  src: url(/fonts/ubuntu-bold.ttf?e0008b580192405f144f2cb595100969);
}

@font-face {
  font-family: icomoon;
  src: url(/fonts/icomoon.ttf?e7e4a7fd22ab6efb7ddbb240ad8b391a);
}

/* include fonts*/

/*Link style*/

A:link {
  text-decoration: none;
}

A:visited {
  text-decoration: none;
}

A:active {
  text-decoration: none;
}

/*Link style*/

/*
@import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css);
*/

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: white;
}

#header {
  font-family: Raleway, Helvetica Neue, Verdana, Arial, sans-serif;
}

.menu-block {
  display: flex;
  /* Safari */
  justify-content: center;
  /* Safari */
  align-items: center;
  margin: auto 20px;
  cursor: pointer;
  min-width: 152px;
}

.menu-button {
  position: relative;
  color: white;
  background-color: #247096;
  height: 40px;
  line-height: 40px;
  webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.menu-button:hover .sub-menu {
  display: block;
}

.menu-title {
  display: block;
  font-family: Raleway, Helvetica Neue, Verdana, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.menu-title:before {
  display: inline-block;
  font-family: "icomoon";
  content: "";
  font-size: 19px;
  font-weight: 200;
  vertical-align: -2px;
  margin: auto 10px;
}

.menu-title:after {
  display: inline-block;
  font-family: "icomoon";
  content: "";
  font-size: 14px;
  margin: auto 10px;
  font-weight: 400;
}

.sub-menu {
  z-index: 999;
  display: none;
  height: auto;
  width: auto;
  color: #636363;
  position: absolute;
  border: 3px solid #247096;
  background-color: white;
}

.sub-menu > ul {
  display: block;
}

.sub-menu * {
  font-size: 14px;
}

.sub-menu > ul > li {
  display: flex;
  font-family: "ubuntu-regular";
  line-height: normal;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
}

.sub-menu > ul > li a {
  color: #636363;
  display: flex;
  /* Safari */
  align-items: center;
  padding: 0px;
}

.sub-menu > ul > li a:hover {
  background-color: white;
  color: #e47911;
}

.sub-menu > ul > li a:after {
  content: "";
  border: solid transparent;
  border-color: rgba(221, 221, 221, 0);
  border-width: 6px;
  border-left-color: #636363;
}

.sub-menu li:last-child {
  margin-bottom: 10px;
}

.sub-menu li:hover {
  color: #e47911;
}

.sub-menu li:hover .sb-menu {
  display: block;
}

.sub-menu li:hover a {
  color: #e47911;
}

.sub-menu li:hover a:after {
  border-left-color: #e47911;
}

.sb-menu {
  display: none;
  box-sizing: content-box;
  color: #636363;
  position: absolute;
  top: -3px;
  left: 100%;
  width: 200%;
  border: 3px solid #247096;
  border-left: 0px;
  height: 100%;
  background-color: white;
}

.sb-menu li {
  box-sizing: border-box;
  font-family: "ubuntu-regular";
  line-height: normal;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
}

.sb-menu li:hover {
  color: white;
  background-color: #247096;
}

.header-links {
  color: white;
  color: #247096;
  padding: 5px;
  background-color: #247096;
  background-color: #f8f8f8;
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
}

.header-links > ul {
  display: inline-block;
  cursor: pointer;
}

.header-links li {
  display: inline-block;
  margin: 5px 20px;
}

.header-links li > a {
  color: white;
  color: #247096;
}

.header-links li:hover {
  text-decoration: underline;
}

.header-main {
  display: flex;
  /*outline:1px solid grey;*/
  /* Safari */
  justify-content: space-around;
  width: 100%;
  padding: 0px 20px;
}

.logo-block {
  text-align: center;
  margin: auto 20px;
}

.logo-conteiner {
  margin: 10px 0;
  /*width:310px;*/
}

.logo {
  display: block;
  width: inherit;
}

.logo-img {
  /*height:30px;*/
  width: 310px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ededed;
}

.logo-description {
  display: block;
  width: inherit;
  text-align: center;
  margin: 0px 0px 0px;
  text-decoration: none;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-size: 15px;
  color: #636363;
}

/*
input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text] {
    height: 30px;
    padding: 0 8px;
}
*/

.search-block {
  /* Safari */
  justify-content: center;
  /* Safari */
  align-items: center;
  /*
   -webkit-flex-grow:0.6;
   flex-grow:0.6;
  */
  margin: auto 20px;
}

.search-conteiner {
  /*position: relative;*/
  width: 500px;
  min-width: 300px;
}

.input-box {
  display: flex;
  background-color: #247096;
}

.input-box button:hover {
  background-color: #247096;
}

.input-box button:active {
  background-color: #247096;
}

#search {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  color: #247096;
  line-height: 1.5;
  background: #FFFFFF;
  font-size: 15px;
  border: 3px solid #247096;
  padding: 10px;
  margin-bottom: 0px;
  webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: #636363;
}

.search-button {
  color: white;
  /*text-indent: -9999px;*/
  /*position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: none;*/
  display: block;
  height: 40px;
  cursor: pointer;
  border: 3px solid #247096;
  background-color: #247096;
  /*border-left: solid 1px silver;*/
  outline: none;
  padding: 0px 15px;
  font-size: 16px;
  webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.search-button:active {
  /*background: #3399cc;*/
  margin-top: 2px;
}

/*
.search-button:before{

    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;

    background-position: 4px -146px;
    background-image: url(images/icon_sprite.png);
    background-repeat: no-repeat;

}
*/

.contact-block {
  display: flex;
  text-align: left;
  /* Safari */
  justify-content: center;
  align-items: center;
  margin: auto 20px;
}

@media only screen and (max-width: 1380px) {
  .contact-block {
    display: none;
  }
}

.contact-info {
  /*position: absolute;*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*top:46%;
  left: 79%;*/
  /*width: 255px;*/
  width: 100%;
}

.tel {
  /*position: absolute;*/
  display: inline-block;
  top: 46%;
  left: 90%;
  font-size: 14px;
  text-transform: uppercase;
  color: #636363;
  margin-right: 25px;
  /*
  			padding: 10px;
  			border: 1px solid #ededed;
  */
}

.timetable {
  /*position: absolute;*/
  display: inline-block;
  top: 46%;
  left: 78%;
  font-size: 15px;
  /*text-transform: uppercase;*/
  color: #636363;
  margin-right: 15px;
  text-align: left;
}

@media only screen and (max-width: 1520px) {
  .timetable {
    display: none;
  }
}

.tel-title {
  display: inline-block;
  padding: 0px;
}

.timetable > li > a:not(.tel-title) {
  display: inline-block;
  padding-right: 30px;
  color: #636363;
}

li > a.tel-title {
  color: #3399cc;
}

.cart-block {
  cursor: pointer;
  display: flex;
  text-align: left;
  /* Safari */
  flex-direction: column;
  /* Safari */
  justify-content: center;
  align-items: center;
}

.cart {
  text-align: center;
  color: #00a464;
  font-size: 15px;
  margin-top: -8px;
}

.cart-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: -5px;
  /*
   width:100%;
   height:100%;
  */
  /*
   background-position: 0px -95px;
   background-image: url(../images/icon_sprite.png);
   background-repeat: no-repeat;
  */
  background-image: url(/images/shopping-cart-icon.png?8e83f9c4d1ccdf558ffb83481df1d087);
  background-image: url(/images/cart.png?e23a215bc82bbfb050cf1679336d02cb);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*
      line-height:42px;
      text-align: center;
  */
}

/*
.cart>.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-position: 0px -95px;
    background-image: url(../img/icon_sprite.png);
    background-repeat: no-repeat;
    line-height:42px;
    text-align: center;

}

.cart>.label {

    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    position: relative;
    top: 2px;
    display: inline;
    line-height:42px;
    text-align: center;
}

.cart>.count {

    font-family:"Helvetica Neue", Verdana, Arial, sans-serif;
    position: relative;
    top: 1px;
    display: inline;
    line-height:42px;
    text-align: center;
}

*/

.cart > .count:before {
  content: "(";
}

.cart > .count:after {
  content: ")";
}

/*
 *{
  box-sizing:border-box;
  font-family:"Dosis", sans-serif;
}

.main-navigation{
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin:2em;
}

ul{
  margin:0; //reset
  padding:0;
}

.menu{
  display:flex;
  flex-direction:column;

  li{
    display:block;
    list-style-type:none;
    text-transform:uppercase;
  }

  li a{
    //display:flex;
    text-align:center;
    text-decoration:none;
    color:#777;
    padding:1rem;
  }

  li a:hover{
    background:#777;
    color:#fff;
  }
}

@media (min-width: 800px) {
    .menu{
      flex-direction:row;
      justify-content:space-between;
    }
}


.menu-item-has-children > a:after{
  font-family:'Genericons';
  content: '\f431';
  padding:1px;
}


nav ul ul {
    //display: none;
}

@media (min-width: 800px) {
  nav ul ul {
    //display: none;
    position:absolute;
  }
}

nav ul li:hover > ul {
  display:block;
  color:#fff;
  padding-left:2rem;
}

@media (min-width: 800px) {
  nav ul li:hover > ul {
    padding-left:0;
    background:#777;
  }

  nav ul li:hover > ul a{
    color:#fff;
  }

  .sub-menu{
    li{
      display:flex;
      padding-right:2em;
    }

    li:hover, li a:hover{
      background:#ddd;
      color:#777;
    }
  }

  nav ul ul ul{
    margin:0 0 0 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  }

  .menu-item-has-children .menu-item-has-children > a:after{
    font-family:'Genericons';
    content: '\f431';
    padding:1px;
    transform: rotate(-90deg);
  }

}
*/

.main {
  margin-top: 10px;
  /* Safari */
  justify-content: center;
}

.carousel {
  display: block;
  position: static;
  height: 500px;
  overflow: visible;
  -webkit-perspective: 500px;
  perspective: 500px;
  margin-bottom: 70px;
}

.carousel .carousel-item {
  width: 965px;
  height: 478px;
}

.carousel .indicators {
  z-index: 999;
  bottom: -50px;
}

.carousel .indicators .indicator-item.active {
  background-color: #595959;
}

.carousel .indicators .indicator-item {
  background-color: #dcdede;
  height: 10px;
  width: 10px;
}

.category-block {
  display: block;
  width: 100%;
  text-align: center;
  max-width: 965px;
  margin: auto auto;
  color: black;
}

.category-head,
.special-category-head {
  margin-bottom: 70px;
  font-family: Raleway, Helvetica Neue, Verdana, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.category-list,
.special-category-list a {
  display: flex;
  /* Safari */
  justify-content: space-around;
  margin-bottom: 50px;
}

.category-tab {
  cursor: pointer;
}

.category-img {
  width: 90%;
  height: auto;
}

.category-name,
.special-category-description {
  margin: 10px;
  padding: 3px;
  font-family: Raleway, Helvetica Neue, Verdana, Arial, sans-serif;
  color: black;
  color: #636363;
  font-weight: 400;
}

.special-category-block {
  display: block;
  width: 100%;
  text-align: center;
  max-width: 965px;
  margin: auto auto;
  color: black;
  overflow: hidden;
}

.special-1 {
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
}

.special-category-list a {
  color: #636363;
  /* Safari */
  align-items: center;
}

.special-category-description h3 {
  color: black;
  font-size: 24px;
}

.dotted {
  display: inline-block;
  border-bottom: 1px solid black;
  width: 20%;
  height: 1px;
  line-height: 20px;
  margin-bottom: 5px;
}

.special-last {
  display: flex;
  padding-bottom: 20px;
}

.special-last .special-category-link {
  box-sizing: border-box;
  width: 50%;
  margin: 0px 20px;
}

.special-last .special-category-link:first-child {
  border-right: 1px solid #ededed;
}

.special-last .special-category-link img {
  width: 100%;
}

.footer-conteiner {
  background-color: #f8f8f8;
  display: flex;
  padding-top: 50px;
}

.links {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  margin-left: 10%;
}

.footer-conteiner .links li {
  word-break: break-all;
  line-height: 1.4;
  padding: 4px 0;
}

.footer-conteiner .links a:hover {
  color: #247096;
  text-decoration: underline;
}

.block-title {
  color: #247096;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 14px;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.links > ul > li > a {
  color: #636363;
  text-transform: uppercase;
  font-size: 12px;
}

.links > ul > li > a:hover {
  color: #636363;
}

.footer-conteiner .links.social-media em {
  /*background-image: url(../img/social_icons.png);*/
  height: 13px;
  background-repeat: no-repeat;
  width: 13px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 7px;
}

em.facebook {
  background-position: -25px 0px;
}

em.twitter {
  background-position: -25px -24px;
}

em.youtube {
  background-position: -25px -49px;
}

em.pinterest {
  background-position: -25px -74px;
}

em.rss {
  background-position: -25px -99px;
}

