#table-custom-elements_filter{
    margin-left:0px;
}

div.col{

    float:none;
    margin-bottom:5px;
}

div.col.s1{
    width:8%;
    margin-left:0px;
}

div.input-field.col.s1{
    /*padding-bottom:10px;*/
}

div.input-field.col.s1{
    text-align:center;
}

.col input{
    border-bottom: 1px solid #9e9e9e;
}

.table-wraper{

    display:flex;
    justify-content: center;

}

.wrapper{
    background-color:white;
    margin-left: auto;
    margin-right: auto;
}

.list{

    border-top: 1px solid rgba(0,0,0,0.12);
    border-bottom: 1px solid rgba(0,0,0,0.12);
    box-sizing:border-box;
    cursor:default;
    width:100%;
}

.list th,.list td{
    padding:10px 15px;
    vertical-align: middle;
    padding:10px 15px;
    text-align:center;
}

.list thead{
    cursor:pointer;
}

.list th label,.list td label{
    display:block;
    height:20px;
    width:20px;
}

.list td span,.list th span{
    padding:0px;
}

td.td-name{
    text-align:left;
}

.footer-wrapper{
    display:flex;
    align-items: baseline;
    /*border-bottom: 1px solid #9e9e9e;*/
    /*border-bottom: 1px solid lime;*/
}

.pagination{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items: baseline;
}

.pagination>li{

}

.pagination i{
    vertical-align:middle;
    font-size: 1.5rem;
}
