<div id="list-temlate">
    <div class ="wrapper">
	<div class="list-wrapper">


	    <!--

	    <div id="table-custom-elements_filter" class="col s4 dataTables_filter">
		<label><input type="search" class="" placeholder="Введите значение для поиска..." aria-controls="table-custom-elements"></label>
	    </div>


		 <div class="right-align button-wrapper">
		 <a class="btn-floating btn-large waves-effect waves-light tial"><i class="material-icons">add</i></a>
		 </div>

	    -->

	    <div class="table-wraper">
		<table  class="centered highlight list">
		    <thead>
			<tr>



                <!--   
			    <th>
				<label>
				    <input type="checkbox" class="filled-in"/>
				    <span>
				    </span>
				</label>
			    </th>
                -->

                    
			    <th>id</th>
			    <th>Артикул</th>
			    <th>Наименование</th>
			    <th>Производитель</th>

                <!--   
			    <th>Статус</th>
                -->
                   
			    <th>Спец. цена</th>
			    <th>Цена</th>

			</tr>
		    </thead>


		    <tbody ref="tbl">

			<tr v-for="(item,index) in list" :key="item.id" >


                <!--
			    <td>
				<label>
				    <input ref="chk" :id="item.id" @click="addItem(item.id)" :checked="ch(item.id)" type="checkbox" class="filled-in"/>
				    <span></span>
				</label>
			    </td>
                -->




			    <td>{{item.id}}</td>
			    <td>{{item.art}}</td>
			    <td class="td-name" @click="showProduct(item.id)">{{item.name}}</td>
			    <td>{{item.brand}}</td>

                <!--
			    <td ><span class="new badge blue" data-badge-caption="">on</span></td>
                -->
                                                                    
			    <td>{{item.special_price}}</td>
			    <td>{{item.price}}</td>

			</tr>

		    </tbody>
		</table>

	    </div>



        <!--

	    <div class="footer-wrapper">

		<div class="input-field col s1">
		    <select>
			<option value="0" selected>25</option>
			<option value="1">50</option>
			<option value="2">75</option>
			<option value="3">100</option>
		    </select>
		    <label></label>
		</div>

		<ul class="pagination">
		    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		    <li class="active"><a href="#!">1</a></li>
		    <li class="waves-effect"><a href="#!">2</a></li>
		    <li class="waves-effect"><a href="#!">3</a></li>
		    <li class="waves-effect"><a href="#!">4</a></li>
		    <li class="waves-effect"><a href="#!">...</a></li>
		    <li class="waves-effect"><a href="#!">50</a></li>

		    <li class="waves-effect">
			<a href="#!">
			    <i class="material-icons">chevron_right</i>
			</a>
		    </li>

		</ul>

        -->



	    </div>
	</div>
    </div>
</div>
