body {
	background:url("background.png");
	/*font-size: 62.5%;*/
	font-family: Arial, sans-serif;
	/*padding: 0; margin:0;*/
}
.content {
	margin-top:80px;
	padding: 20px;
}
#drop-files {
	position:relative;
	width: 500px;
	height: 140px;
	/*margin: 0 auto;*/
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	border: 4px dashed rgba(0,0,0,0.2);
	padding-top:80px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

#drop-files p {
	clear:none;
	padding:0;
	margin:0;
}

#uploaded-holder {
	display: none;
	position:relative;
	margin: 0 auto;
}

#dropped-files {
	display:block;
	margin: 0 auto;
	width: 950px;
}

#upload-button {
	z-index: 9999;
	display: none;
	margin: 20px 0;
}

.drop-button {
	display: block;
	position: absolute;
	z-index: 9999;
	padding: 5px;
	width: 100%;
	background: rgba(0,0,0,0.6);
	font-size: 1em;
	bottom: 0;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	color: #FFF;
}

#dropped-files .image {
	position: relative;
	height: 100px;
	width: 100px;
	border: 4px solid #fff;
	/*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
	background: #fff;
	float: left;
	border-radius: 4px;
	margin: 0 7px 7px 0;
	overflow: hidden;
}

.imag{

	height: 100px;
	width: 100px;

}

#upload-button .ss-upload {
	font-size: 0.7em;
}

#upload-button a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -35px 40px -10px #0A9FCA;
	font-size: 20px;
	padding: 10px 20px;
	background-color: #4bc1e3;
	border-radius: 10px;
}

#upload-button span {
	position:relative;
	text-align: center;
	background: white;
	border-radius: 10px;
	font-size: 1.1em;
	padding: 6px;
	margin-right: 8px;
}
#upload-button a:hover {
	box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -5px 40px 0px #0A9FCA;	
}


#dropped-files #upload-button .delete {
	padding: 7px 6px 4px 6px;
	border-radius: 100px;
	background: rgba(0,0,0,0.6);
	box-shadow: none;
	font-size: 1em;
	margin-left: 8px;
}

#dropped-files #upload-button .delete:hover {
	background: rgba(0,0,0,0.8);
}

#loading {
	display: none;
	width: 100%;
	position: relative;
	margin: 20px;
}

#loading-bar {
	width: 404px;
	height: 40px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 2px;
}

.loading-color {
	width: 0%;
	height: 100%;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	border-radius: inherit;
	background-color: #4edbf1;
}

#loading-content {
	position: relative;
	top: 15px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	width: 405px;
}

#file-name-holder {
	width: 100%;
	float: left;
}

#file-name-holder h1 {
	text-align: center;
	padding: 20px 0;
	font-size: 3em;
	margin: 0;
}

#uploaded-files {
	width:500px;
	list-style:none;
	margin:0 auto;
	padding: 10px;
	color: #545454;
}

#uploaded-files li {
	padding: 10px;
	border-bottom: 1px solid #eee;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 25px;
	color: #545454;
}

#uploaded-files a {
	color: #1bacbf;
}
.main {
	width:900px;
	margin:0 auto;
	height:100%;
	margin-top:100px;
}
.main img {
	position:relative;
	float:left;
	width:280px;
	height:180px;
	margin:10px;
}
a.nav { 
	font-family:tahoma;
	font-size:20px;
	color:#4280af;
	text-decoration:none;
	margin-bottom:10px;
}
a.nav:hover {
    color:#fffb89;
}

.save{

	margin-top: 20px;
	border: 0px;
	cursor: pointer;
	width: 48%;
	box-sizing: border-box;
	padding: 0px;
	outline: none;
	
}

.delete{

	margin-top: 20px;
	border: 0px;
	cursor: pointer;
	width: 48%;
	box-sizing: border-box;
	padding: 0px;
	outline: none;
}

