<template id="catalogItem">

    <div class="wrapperItem">

	<div class="input-field col s3">
	    <input v-model="name" id="item_name" type="text" class="validate">
	    <label v-if="!name" for="last_name">Name</label>
	</div>

	<div class="input-field col s3">
	    <input v-model="url" id="item_url" type="text" class="validate">
	    <label v-if="!url" for="last_name">URL</label>
	</div>

	<div class="file-field input-field col s3">

	    <div class="btn">
		<span>File</span>
		<input type="file" ref="image" @change="previewFile">
	    </div>

	    {{item}}

	    <div class="file-path-wrapper">
		<input class="file-path validate" type="text" placeholder="Upload one or more files">
	    </div>

	</div>

	<i v-on:click ="removeThis" class="small material-icons">close</i>
	<slot></slot>
    </div>

</template>


<script>

 import mixinTranslit from '../translit-mixin.vue';

 export default{

     name:"catalogItem",
     props:['ind','item'],
     template:"#catalogItem",

     data:data,

     methods:{
	 removeThis,
	 previewFile,
     },

     mixins:[mixinTranslit],

     beforeMount:[itemInit],

     watch:{

	 name(){



             if(this.name) this.url = "/" + this.urlRusLat(this.name);

	     this.$set(this.item,'id',this.ind);
	     this.$set(this.item,'name',this.name);
	     this.$set(this.item,'url',this.url);
	     this.$set(this.item,'img',this.file);

	     //this.$emit('initItemName',this.ind,this.name); 
	     //this.$emit('initItem',this.item);



	 },


	 url(){

	     //this.$emit('initItemUrl',this.ind,this.url); 
	     this.$set(this.item,'url',this.url);
	     //this.$emit('initItem',this.item);

	 },

	 file(){

	     
	     this.$set(this.item,'img',this.file);
	     //this.$emit('initItem',this.item);
             
	     
	 },

     }
 }


 function data(){

     return{

	 name:"",
	 url:"",
	 file:"",
	 //item:{},

     }

 };

 function removeThis(){
     this.$emit('removeItem');
 }


 function itemInit(){

     if(this.item){
	 this.name = this.item.name;
     };

 }


 function previewFile(){
     this.file = this.$refs.image.files[0];
 }


</script>

<style scoped>

 .wrapper{

     height:100vh;
     width:100%;
     background-color:white;

 }

 .input-field{

     display:flex;

 }

 .catalogName{
     display:flex;
 }

 .catalogName>.col{
     margin-left:0px;
 }

 .itemWrapper{
     display:flex;
 }

 .ItemName{
     display:flex;
 }


 .ItemName>.col{
     margin-left:0px;
 }

 .wrapperItem{
     display:flex;
 }

</style>
