<template id = "catalog-list">
    <div class ="wrapper">
	<div class="list-wrapper">


	    <div id="table-custom-elements_filter" class="col s4 dataTables_filter">
		<label><input type="search" class="" placeholder="Введите значение для поиска..." aria-controls="table-custom-elements"></label>
	    </div>

	    <!--

		 <div class="right-align button-wrapper">
		 <a class="btn-floating btn-large waves-effect waves-light tial"><i class="material-icons">add</i></a>
		 </div>

	    -->

	    <div class="table-wraper">
		<table  class="centered highlight list">
		    <thead>
			<tr>
			    <th>
				<label>
				    <input type="checkbox" class="filled-in"/>
				    <span>
				    </span>
				</label>
			    </th>

			    <th>id</th>
			    <th>Наименование</th>
			</tr>
		    </thead>


		    <tbody>

			<tr v-for="item in catalogs" >

			    <td>
				<label>
				    <input ref="checks" :id="item.id" @click="addItem(item.id)" type="checkbox" class="filled-in"/>
				    <span></span>
				</label>
			    </td>

			    <td >{{item.id}}</td>
			    <td @click="showCatalog(item.id)">{{item.name}}</td>

			    <!--  
			    <td >{{item.discount}}</td>
			    <td>{{item.art}}</td>
			    <td class="td-name" @click="showProduct(item.id)">{{item.name}}</td>
			    <td>{{item.brand}}</td>
			    <td ><span class="new badge blue" data-badge-caption="">on</span></td>
			    <td>{{item.special_price}}</td>
			    <td>{{item.price}}</td>
                            -->

			</tr>

		    </tbody>
		</table>

	    </div>

	    <div class="footer-wrapper">

		<div class="input-field col s1">
		    <select>
			<option value="0" selected>25</option>
			<option value="1">50</option>
			<option value="2">75</option>
			<option value="3">100</option>
		    </select>
		    <label></label>
		</div>

		<ul class="pagination">
		    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		    <li class="active"><a href="#!">1</a></li>
		    <li class="waves-effect"><a href="#!">2</a></li>
		    <li class="waves-effect"><a href="#!">3</a></li>
		    <li class="waves-effect"><a href="#!">4</a></li>
		    <li class="waves-effect"><a href="#!">...</a></li>
		    <li class="waves-effect"><a href="#!">50</a></li>

		    <li class="waves-effect">
			<a href="#!">
			    <i class="material-icons">chevron_right</i>
			</a>
		    </li>

		</ul>

	    </div>
	</div>
        {{catalogs}}
    </div>
</template>



<script>

 import mixinTable from '../table/table-mixin.vue';

 export default{

     name:"catalog-list",
     template:'#catalog-list',
     mixins:[mixinTable],

     methods:{

         showCategory,
         showCatalogs,
         showCatalog,
	 addItem,

     },

     data,

     beforeMount:[inputInit,showCatalogs],

 }

 function data(){
     return {
	 checklist:[],
	 catalogs:[],
     } 
 }

 
 function inputInit(){
     $(document).ready(function(){
	 $('select').formSelect();
     });
 }


 function addItem(id){

     let pos = this.checklist.indexOf(id);
     pos == -1 ? this.checklist.push(id) : this.checklist.splice(pos,1);
     this.$emit('getChecklist',this.checklist);

 }
 

 function showCategory(id){
    let address = "/admin/category/"+id;
    window.location.href =  address;
 }

 function showCatalog(id){
    let address = "/admin/catalog/"+id;
    window.location.href =  address;
 }

 function showCatalogs(){

     let requestObj=null;

     this.$http.post('/api/catalogs/',null)

	 .then(response=>{
	     this.catalogs = response.body;
             return response;

	 })
         .then(resp =>{
             console.log(resp);
	 })

 }

</script>











<style scoped>

 #table-custom-elements_filter{
     margin-left:0px;
 }

 div.col{

     float:none;
     margin-bottom:5px;
 }

 div.col.s1{
     width:8%;
     margin-left:0px;
 }

 div.input-field.col.s1{
     /*padding-bottom:10px;*/
 }

 div.input-field.col.s1{
     text-align:center;
 }

 .col input{
     border-bottom: 1px solid #9e9e9e;
 }

 .table-wraper{

     display:flex;
     justify-content: center;

 }

 .wrapper{
     background-color:white;
     margin-left: auto;
     margin-right: auto;
 }

 .list{

     border-top: 1px solid rgba(0,0,0,0.12);
     border-bottom: 1px solid rgba(0,0,0,0.12);
     box-sizing:border-box;
     cursor:default;
     width:100%;
 }

 .list th,.list td{
     padding:10px 15px;
     vertical-align: middle;
     padding:10px 15px;
     text-align:center;
 }

 .list thead{
     cursor:pointer;
 }

 .list th label,.list td label{
     display:block;
     height:20px;
     width:20px;
 }

 .list td span,.list th span{
     padding:0px;
 }

 td.td-name{
     text-align:left;
 }

 .footer-wrapper{
     display:flex;
     align-items: baseline;
     /*border-bottom: 1px solid #9e9e9e;*/
     /*border-bottom: 1px solid lime;*/
 }

 .pagination{
     margin-left:auto;
     margin-right:auto;
     display:flex;
     align-items: baseline;
 }

 .pagination>li{

 }

 .pagination i{
     vertical-align:middle;
     font-size: 1.5rem;
 }
</style>
