<template id="catalogSection">
    <div class="sectionWrapper">
	<div class="ItemName">
	    <div class="input-field col s6">

		<i class="material-icons prefix">mode_edit</i>

		<textarea v-model="name" id="icon_prefix2" class="materialize-textarea"></textarea>

		<!--  		<label for="icon_prefix2">Название пункта</label>  -->

		<label v-if="!name" for="icon_prefix2">Section Name</label>

		<div class="align button-wrapper">
		    <a @click="addItem" class="btn-floating btn-large waves-effect waves-light tial"><i class="material-icons">add</i></a>
		</div>

		<i  v-on:click="removeSection" class="small material-icons">close</i>

	    </div>
	</div>

	<!----------------------------------------  Пункт каталога -------------------------------------------------------->

	<catalogItem v-for="(item,ind) in items"

		     :item="item"
		     :ind ="ind"
		     :key ="item.id"

		     v-on:removeItem="removeItem(ind)"
		     v-on:initItem="initItem"

	>

	</catalogItem>

	<!----------------------------------------  Пункт каталога -------------------------------------------------------->

	{{section}}

	<!-- 
	{{sec}}
        -->

	<slot></slot>

    </div>

</template>



<script>

 import catalogItem from "./catalogItem.vue"

 export default{

     name:"catalogSection",
     props:['section','sec','item'],
     template:"#catalogSection",
     data:data,

     methods:{
	 removeSection,
	 addItem,
	 removeItem,
	 initItem,
	 //initItemName,
	 //initItemUrl,
	 addItem
     },

     watch:{

	 name:function(){

             this.$emit('setSectionName',this.id,this.name);

	 },

     },

     components:{
	 'catalogItem':catalogItem
     },

     beforeMount:[sectionInit],

     //mounted:[initSection],

 }

 function data(){

     return{
	 id:0,
	 name:"",
	 items:[],
     }

 };

 function removeSection(){
     this.$emit('removeSection');
 }


 function removeItem(indItem){
     let a = this.items.splice(indItem,1);
     this.$emit('removeItem',this.ind,indItem);
 }


 function addItem(){

     let item = {

	 id:this.id++,
	 name:"",
	 url:"",
	 img:{}

     }

     this.items.push(item);

     
     /*
     console.log(this.ind);
     console.log(this.id);
     */

     this.$emit('addItem',this.id,item);

 }








 function initItem(item){
     this.$emit('initItemName',this.ind,item);
 }


  /*

 //Init Name

 function initItem(indItem,itemName){
     this.$emit('initItemName',this.ind,indItem,itemName);
 }





 


 //Init Url

 function initItemUrl(indItem,itemUrl){

     this.$emit('initItemUrl',this.ind,indItem,itemUrl);

 }

 //Init Image

 function initItemImg(indItem,itemImg){

     this.$emit('initItemImg',this.ind,indItem,itemImg);
 }

*/


 function sectionInit(){

     if(this.section){

	 this.id = this.section.id; 
	 this.name = this.section.name;
	 this.items = this.section.items;

     }

 }



</script>




<style scoped>

 .wrapper{

     height:100vh;
     width:100%;
     background-color:white;

 }

 .input-field{

     display:flex;

 }

 .catalogName{
     display:flex;
 }

 .catalogName>.col{
     margin-left:0px;
 }

 .itemWrapper{
     display:flex;
 }

 .ItemName{
     display:flex;
 }


 .ItemName>.col{
     margin-left:0px;
 }
</style>
