<template id = "catalog-form">
    <div class="wrapper">

	<form class="col s12">

	    <div class="catalogName">


		<div class="input-field col s6">
		    <input v-model="catalog.name" placeholder="Название каталога" id="first_name" type="text" class="validate">
		</div>


		<div class="align button-wrapper" v-on:click="addSection">
		    <a class="btn-floating btn-large waves-effect waves-light tial"><i class="material-icons">add</i></a>
		</div>

                <a class="waves-effect waves-light btn"  v-on:click="saveCatalog">Сохранить</a>
                <a class="waves-effect waves-light btn"  v-on:click="deleteCatalog">Удалить</a>

	    </div>


	    <div v-if="catalog">{{catalog}}</div>

            <!--
		 <hr>
		 <div v-if="resp">{{resp}}</div>
            -->


	    <!---------------------------------------- Секция каталога ------------------------------------------->

	    <catalogSection v-for="(section,ind) in catalog.sections"

                            :section ="section"
			    :key="section.id"

	                    v-on:removeSection="removeSection(ind)"
	                    v-on:removeItem="removeItem"
	                    v-on:setSectionName="setSectionName"
			    v-on:initItem="initItem"
			    v-on:addItem="addItem">

	    </catalogSection>

	    <!---------------------------------------- Секция каталога ------------------------------------------->



	</form>
    </div>

</template>



<script>

 import imgLoader from '../ImgLoader.vue';

 import catalogSection from './catalogSection.vue';
 import catalogItem from './catalogItem.vue';

 import mixinTranslit from '../translit-mixin.vue';

 export default{

     name:"catalogForm",
     template:'#catalog-form',
     data:data,

     mixins:[mixinTranslit],

     computed:{

     },

     methods:{

	 addSection,
	 removeSection,
	 setSectionName,


	 initItem,
	 initItemName,
	 initItemNew,
	 initItemUrl,


	 addItem,
	 removeItem,
         saveCatalog,
         deleteCatalog,

     },

     components:{

	 "imgLoader":imgLoader,
	 "catalogSection":catalogSection

     },

     //beforeMount:[initCatalog],
     mounted:[initCatalog],

 }


 function data(){
     return {

	 id:0,

	 /*
	    sectionName:"section",
	    sections:[],
          */

	 catalog:{

	     id:0,
	     name:'',
	     sections:[],

	 },

	 resp:"",

     }
 }


 function addSection(e){

     this.catalog.sections.push({

	 id:this.id++,
	 name:'',
	 items:[]

     });

 }


 function addItem(indSection,item){

     let indSec = indSection--;

     /*
     console.log(this.catalog);
     console.log(indSection);
     */
     
     console.log(this.catalog.sections);
     this.catalog.sections[indSec].items.push(item);

 }


 function removeSection(ind){
     this.catalog.sections.splice(ind, 1);
 }


 function setSectionName(ind,name){

     this.catalog.sections[ind].name = name;

 }



 //--------------------------Init Item----------------------------------


 function initItem(indSection,indItem,nameItem){

     this.catalog.sections[indSection].items[indItem].name = nameItem;
 }


 function initItemNew(indSection,indItem,item){

     this.catalog.sections[indSection].items[indItem].name = item.name;
     this.catalog.sections[indSection].items[indItem].url = item.url;
     this.catalog.sections[indSection].items[indItem].img = item.img;

 }



 //--------------------------------------------------------------------


 //Init item Name
 function initItemName(indSection,indItem,name){

     this.catalog.sections[indSection].items[indItem].name = name;

     /*

	this.catalog.sections[indSection].items[indItem].url = item.url;
	this.catalog.sections[indSection].items[indItem].img = item.img;

      */

     //this.catalog.sections[indSection].items[indItem].(...item);

 }


 //Init item Url
 function initItemUrl(indSection,indItem,url){

     console.log(url);
     this.catalog.sections[indSection].items[indItem].url = url;

 }



 function removeItem(indSection,indItem){
     this.catalog.sections[indSection].items.splice(indItem,1);
 }


 //--------------------------Init Item----------------------------------





 /*
    function saveCatalog(){

    //this.$set(this.category,"prod",this.checklist);
    //console.log(this.catalog);

    this.$http.post('/api/catalog/save',this.catalog)

    .then(response=>{
    this.resp = response.body;
    return response;
    })
    .then(resp =>{
    alert("Сохранение успешно");
    })
    .catch(function genericError(error) {
    alert("Ошибка сохранения"); // Error: Not Found
    });

    }

  */



 function saveCatalog(){

     this.$store.commit('setCatalog', this.catalog);

     this.$store.dispatch('catalog/saveCatalog').then(response=>{

	 return response;

     }).then(resp =>{

	 alert("Сохранение успешно");

     }).catch(function genericError(error) {

	 alert("Ошибка сохранения"); // Error: Not Found

     });

 }



 function initCatalog(){


     //this.resp = store.dispatch('increment');
     //this.$store.commit('saveProduct',this.product);


     let id = this.$route.params.id;

     if (id !== 'new'){
	 this.$store.dispatch('catalog/getCatalog',{id})
	     .then(response=>{
		 return response;
	     })
	     .then(response=>{

		 let catalog = this.$store.getters['catalog/getCatalog'];
		 let sections = this.$store.getters['catalog/getSections'];
		 let items = this.$store.getters['catalog/getItems'];

		 this.catalog = catalog;
		 this.catalog.sections = sections;
		 this.resp = catalog;

	     }).catch(error=>{
		 console.error(error);
	     });
     }

 }





 function deleteCatalog(){
     console.log(2);
 }






</script>

























<style scoped>

 .wrapper{
     height:100vh;
     width:100%;
     background-color:white;
 }

 .input-field{
     display:flex;
 }

 .catalogName{
     display:flex;
 }

 .catalogName>.col{
     margin-left:0px;
 }

 .itemWrapper{
     display:flex;
 }

 .ItemName{
     display:flex;
 }


 .ItemName>.col{
     margin-left:0px;
 }


</style>
