<template>
    <div id="order-form">
	<div class="row">
	    <div class="col s12">
		<ul class="tabs">
		    <li class="tab col s6"><a href="#test1">Данные</a></li>
		    <li class="tab col s6"><a href="#test2">Товары</a></li>
		</ul>
	    </div>



	    <div id="test1" class="col s12">

		<div class="input-field col s6">
		    <input v-model="order.cart_id" id="cart_id" type="text" class="validate">
		    <label v-if="!order.cart_id" for="cart_id">Cart_ID</label>
		</div>

		<div class="input-field col s6">
		    <input v-model="order.name" id="name" type="text" class="validate">
		    <label v-if="!order.name" for="name">Name</label>
		</div>

		<div class="input-field col s6">
		    <input v-model="order.telefon" id="telefon" type="text" class="validate">
		    <label v-if="!order.telefon" for="telefon">Telefon</label>
		</div>

		<div class="input-field col s6">
		    <input v-model="order.email" id="email" type="text" class="validate">
		    <label v-if="!order.email" for="email">Email</label>
		</div>

		<div class="input-field col s6">
		    <input v-model="order.address" id="address" type="text" class="validate">
		    <label v-if="!order.address" for="address">Address</label>
		</div>

		<div class="input-field col s6">
		    <input v-model="order.description" id="description" type="text" class="validate">
		    <label v-if="!order.description" for="description">Description</label>
		</div>

	    </div>


	    <!--  
	    <div id="test2" class="col s12">
		<list @getChecklist="getChecklist"
		      :checklist="checklist">
		</list>
	    </div>
            -->


	    <div id="test2" class="col s12">
		<orderSection :list="list">
		</orderSection>
	    </div>



	</div>

	<a class="waves-effect waves-light btn" @click="delOrder">Удалить</a>


	<!--
	     <div>{{category}}</div>
	     <div>{{resp}}</div>
	     <div>{{checklist}}</div>
        -->


    </div>
</template>


<script>


 import list from "../table/table.vue";
 import orderSection from "./order-section.vue";



 export default{

     name:"order-form",
     template: "#order-form",

     components:{

	 orderSection,
         //list:list,

     },

     data,

     methods:{

	 getChecklist,
         //delCategory,
         delOrder,
	 setUrl,
         categoryInit

     },


     watch:{

         /*
         name:function(val){
	     this.category.name = val;
             this.category.url = this.urlRusLat(val);
	 }
         */

     },

     //beforeMount:[tabsInit,categoryInit]

     beforeMount:[tabsInit,orderInit]

 }


 function tabsInit(){
     $(document).ready(function(){
	 $('.tabs').tabs();
     });
 }


 function data(){

     return{
	 name:"",
	 category:{
	 },


         order:{

	     id:this.$route.params.id,
	     cart_id:"",
	     name:"",
	     telefon:"",
	     email:"",
	     address:"",
	     description:""

	 },


	 checklist:[],
	 resp:"",

     }
 }




 function getChecklist(checklist){
     this.checklist = checklist;
 }


 function setUrl(){
 }


 function categoryInit(){
 }



 function delOrder(){

     let route = '/api/order/delete';
     let id = this.$route.params.id;

     if (id == "new") return false;

     this.$http.post(route,id)
	 .then(response=>{

	     console.log(response.body);
             return response;

	 })
         .then(resp =>{

	     window.location = "/admin"

	 })

	 .catch(function genericError(error) {
             alert("Ошибка удаления"); // Error: Not Found
         });

     return true;
     
 }




 /*

 function delCategory(){

     let route = '/api/category/delete';
     let id = this.$route.params.id;

     if (id == "new") return false;

     this.$http.post(route,id)
	 .then(response=>{
             this.resp = response.body;
             return response;
	 })
         .then(resp =>{
	     window.location = "/admin"
	 })
	 .catch(function genericError(error) {
             alert("Ошибка удаления"); // Error: Not Found
         });

     return true;
 }

 */


 function orderInit(){

     let id = this.$route.params;

	 this.$http.post('/api/order/showOrder',id)

	     .then(response=>{

	         this.order.cart_id = response.body.cart_id;
	         this.order.name = response.body.name;
	         this.order.telefon = response.body.tel;
	         this.order.email = response.body.email;
	         this.order.address = response.body.address;
	         this.order.description = response.body.description;

		 this.checklist = response.body.prod;
		 this.list = response.body.prod;

                 console.log(response);

		 return response;


	     })
	     .then(resp =>{

	     })
	     .catch(function genericError(error) {
		 alert("Ошибка удаления"); // Error: Not Found
             });
 }


</script>

<style scoped>

</style>
