<template id = "order-section">

    <div class ="wrapper">
	<div class="list-wrapper">


	    <!--


	    <div id="table-custom-elements_filter" class="col s4 dataTables_filter">
		<label><input type="search" class="" placeholder="Введите значение для поиска..." aria-controls="table-custom-elements"></label>
	    </div>


	    <a class="waves-effect waves-light btn">Сосотавить артикул</a>
	    <a class="waves-effect waves-light btn">Составить цену</a>


		 <div class="right-align button-wrapper">
		 <a class="btn-floating btn-large waves-effect waves-light tial"><i class="material-icons">add</i></a>
		 </div>

	    -->



	    <div class="table-wraper">
		<table  class="centered highlight list">

		    <thead>
			<tr>
			    <!--
				 <th>
				 <label>
				 <input type="checkbox" class="filled-in"/>
				 <span>
				 </span>
				 </label>
				 </th>
                            -->

		            <th>id</th>
			    <th>Артикул</th>
			    <th>Наименование</th>
			    <th>Производитель</th>


			    <!--
			    <th>Статус</th>
                            -->

		            <th>Спец. цена</th>
		            <th>Цена</th>
			    <th>Кол-во</th>

			</tr>
		    </thead>


		    <tbody>

			<tr v-for="item in list" >

			    <!--
				 <td>
				 <label>
				 <input :id="item.id" @click="addItem(item.id)" type="checkbox" class="filled-in"/>
				 <span></span>
				 </label>
				 </td>
                            -->

		            <td >{{item.id}}</td>
			    <td :ref="'art'+item.id">{{item.art}}</td>
			    <td class="td-name">{{item.name}}</td>
			    <td >{{item.brand}}</td>


			    <!--  
			    <td ><span class="new badge blue" data-badge-caption="">on</span></td>
                            -->


		            <td :ref="'special_price'+item.id">{{item.special_price}}</td>
		            <td :ref="'price'+item.id">{{item.price}}</td>
			   

			    <td class="">
                                <div class="input-field">
				    <input class="num" type="text" :value="item.qty">
				</div>
			    </td>

			</tr>

		    </tbody>
		</table>

	    </div>


            <!--

	    <div class="footer-wrapper">

		<div class="input-field col s1">
		    <select>
			<option value="0" selected>25</option>
			<option value="1">50</option>
			<option value="2">75</option>
			<option value="3">100</option>
		    </select>
		    <label></label>
		</div>

		<ul class="pagination">

		    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		    <li class="active"><a href="#!">1</a></li>
		    <li class="waves-effect"><a href="#!">2</a></li>
		    <li class="waves-effect"><a href="#!">3</a></li>
		    <li class="waves-effect"><a href="#!">4</a></li>
		    <li class="waves-effect"><a href="#!">...</a></li>
		    <li class="waves-effect"><a href="#!">50</a></li>

		    <li class="waves-effect">
			<a href="#!">
			    <i class="material-icons">chevron_right</i>
			</a>
		    </li>

		</ul>
	    </div>

            -->

	</div>


        <!--
	<div>{{components}}</div>
	<div>{{sumArt}}</div>
	<a class="waves-effect waves-light btn">Сохранить</a>
	-->


       </div>
</template>


<script>

 import mixinTable from '../table/table-mixin.vue';

 
 export default{

     name:"order",
     template:'#order-section',

    props:['list'],
     
     //mixins:[mixinTable],
     
     data,

     methods:{
         addItem,
	 addComponent,
	 sumCost,
	 getPrice,
	 getSpPrice,
	 commonArt,
	 getArt
     },

     //beforeMount:[getComponents] 
     
 }

 function data(){
     return{

	 id:this.$route.params.id,
	 components:{},
	 num:"",
	 list:[],
	 //testComponent:testComponent,
	 testComponent:{},
	 resp:{},

	 sumArt:"",
	 sumPrice:0,
     }
 }



 /*
 let testComponent = {

     id:'1',
     art:'art_1',
     name:'name_1',
     brand:'legrand',
     qty:'10'
 }
 */



 function getComponents(){


     let requestObj=null;
     let id = this.id; 
     let url = '/api/order/showOrder'

         console.log(id);
         
	 this.$http.post('/api/order/showOrder',id)

	     .then(response=>{

		 this.list = response.body.prod;

             })
	     .then(resp =>{

	     })
	     .catch(function genericError(error) {

		 alert("Ошибка"); // Error: Not Found

             });

 }












 function addComponent(id,e){

     let value = e.target.value;

     let reg = /[^1-9]/g;
     value = value.replace(/\s+/g, '');

     if(!value.match(reg)){
       this.$set(this.components,id,parseInt(value,10));
       this.$store.commit('saveProductComponents',this.components);


       this.list.forEach(function(val,key,arr){
	 
	 if(val.id === id){
            this.$set(val,"qty",value);
	 }
	 
       },this)

     }
     if(value == ""){
       this.$delete(this.components,id);
     }

     let priceId = "price"+id; 

 }


 function addItem(id){

     let ind = this.components.indexOf(id);
     ind === -1 ? this.components.push(id) :
	       this.components.splice(ind,1);

 }


 function sumCost(){

     let components = this.components;
     let sum = 0;
     let spSum = 0;
     let qty = 0;

     for(let key in components){
         if (components.hasOwnProperty(key)){
	     qty=components[key];
	     sum+=qty * this.getPrice(key);
	     spSum+=qty * this.getSpPrice(key);
	 }
     }

     let price = [sum,spSum]

     this.$emit('changePrice',price);

     console.log(sum);
     return sum;
     
 }


 function getPrice(id){
     let priceId = "price"+id; 
     let price = parseInt(this.$refs[priceId][0].innerText,10); 
     return price;
 }


 function getSpPrice(id){
     let priceId = "special_price"+id; 
     let spPrice = parseInt(this.$refs[priceId][0].innerText,10); 
     return spPrice;
 }

 function commonArt(){
     let components = this.components;
     let art=this.sumArt;
     
     for(let key in components){
         if (components.hasOwnProperty(key)){
           art+=this.getArt(key)+"_";   
	 }

     }
     art = art.slice(0, -1);
     this.$emit('changeArt',art);
 }
 

 function getArt(id){
     let artId = "art"+id; 
     let art = this.$refs[artId][0].innerText; 
     return art;
 }

 


</script>



<style scoped>

 #table-custom-elements_filter{
     margin-left:0px;
 }

 div.col{

     float:none;
     margin-bottom:5px;
 }

 div.col.s1{
     width:8%;
     margin-left:0px;
 }

 div.input-field.col.s1{
     /*padding-bottom:10px;*/
 }

 div.input-field.col.s1{
     text-align:center;
 }

 .col input{
     border-bottom: 1px solid #9e9e9e;
 }

 .table-wraper{

     display:flex;
     justify-content: center;

 }

 .wrapper{
     background-color:white;
     margin-left: auto;
     margin-right: auto;
 }

 .list{

     border-top: 1px solid rgba(0,0,0,0.12);
     border-bottom: 1px solid rgba(0,0,0,0.12);
     box-sizing:border-box;
     cursor:default;
     width:100%;
 }

 .list th,.list td{
     padding:10px 15px;
     vertical-align: middle;
     padding:10px 15px;
     text-align:center;
 }

 .list thead{
     cursor:pointer;
 }

 .list th label,.list td label{
     display:block;
     height:20px;
     width:20px;
 }

 .list td span,.list th span{
     padding:0px;
 }

 td.td-name{
     text-align:left;
 }

 .num{
     text-align:center;
 }

 .footer-wrapper{
     display:flex;
     align-items: baseline;
     /*border-bottom: 1px solid #9e9e9e;*/
     border-bottom: 1px solid lime;
 }

 .pagination{
     margin-left:auto;
     margin-right:auto;
     display:flex;
     align-items: baseline;
 }

 .pagination>li{

 }

 .pagination i{
     vertical-align:middle;
     font-size: 1.5rem;
 }
</style>
