<script>

import template from './template/table.html'
import mixinTable from './table-mixin.vue';
 
export default{

    name:"list",

    template, 

    mixins:[mixinTable],

    props:['checklist'],

    methods:{
        showProduct,
	addItem,
	ch,
    },

    data,

    beforeMount:[inputInit],

}

function data(){
    return {
    }
}


function inputInit(){
    $(document).ready(function(){
	$('select').formSelect();
    });
}


function addItem(id){

    let pos = this.checklist.indexOf(id);
    pos == -1 ? this.checklist.push(id) : this.checklist.splice(pos,1);
    this.$emit('getChecklist',this.checklist);

}


function showProduct(id){
    let address = "/admin/product/"+id;
    window.location.href =  address;
}


function ch(id){

    if(this.checklist)
	return this.checklist.indexOf(id) !== -1 ? true : false;

}

</script>

<style scoped src="./template/table.css"></style>
