<template id="imgLoader">
    <div>
	<form action="#">
	    <div class="file-field input-field">
		<div class="btn">
		    <span>File</span>
		    <input class="uploadBtn" type="file" multiple>
		</div>
		<div class="file-path-wrapper">
		    <input v-on:change ="uploadFiles" class="file-path validate" type="text" placeholder="Upload one or more files">
		</div>
	    </div>
	</form>

	<ul class="image-list">
	    <li v-for="(v,key) in img">
		<p>


		    <label class ="radio" v-on:click="selectImg(key)">
			<input v-bind:id="key" v-if="defImage == v.name" class="with-gap" name="group1" type="radio" checked/>
			<input v-bind:id="key" v-else class="with-gap" name="group1" type="radio"/>
			<span></span>
		    </label>


		    <span>
			<img v-bind:src="v.data" class="img" height="100" alt="Image preview...">
			<span>
			    {{v.name}}
			</span>
		    </span>

		    <i v-bind:id="key" class="small material-icons delImg" v-on:click="delImg">close</i>

		</p>
	    </li>
	</ul>

	<!-- <div>{{img}}</div>
             <a class="waves-effect waves-light btn" @click="saveImages">Сохранить</a>


             <div class ="store">{{this.$store.state.img}}</div>

             <div>{{resp}}</div>

        <div class ="st">{{defImage}}</div>

             -->
    </div>
</template>

<script>

 export default{
     name:"imgLoader",
     template:'#imgLoader',
     data:data,
     methods:{
	 uploadFiles:uploadFiles,
	 delImg:delImg,
	 selectImg
     },

     beforeCreate(){

	 if(this.$route.params.id !== "new"){

	     this.$http.post('/api/product/getImages',this.$route.params)
		 .then(response=>{

		     this.resp = response.body;


                     for (var key in this.resp) {
		       this.img.push({name:key,data:this.resp[key]});
                     } 
                     this.$store.state.img = this.img;

		     return response;
		 })
		 .then(resp =>{
		     console.log(resp);
		 })


	     this.$http.post('/api/product/getImageDefault',this.$route.params)
		 .then(response=>{

		     this.defImage = response.body;
                     this.$store.commit('setImgDefault',this.defImage);
		     return response;

		 })
		 .then(resp =>{
		     console.log(resp);
		 })

	 }
     },


     
     beforeMount(){

	 let id = this.$route.params.id;
	 this.$http.post('/api/product/',this.img)
	     .then(response=>{
		 this.resp = response.body;
		 console.log(response.body);
		 return response;
	     })
             .then(resp =>{
		 console.log(resp.body);
	     })

     },
    
          
 }

 function data(){
     return {
	 defImage:null,
	 resp:"",
	 img:[],
     }
 }

 function uploadFiles(e) {

     let uploadBtn = $('.uploadBtn');
     let file = $(uploadBtn)[0].files;

     if (file) {
	 for(let f of file){
	     let reader  = new FileReader();
	     reader.readAsDataURL(f);
	     reader.onloadend = (e) => {
		 this.img.push({name:f.name,data:reader.result});
	     }

	 }
     }else{
	 preview.src = "";
     }

     this.$store.state.img = this.img;

 }

 function delImg(e){
     let index = e.target.id;
     this.img.splice(index, 1);
 }

 function selectImg(key){

     this.defImage = this.img[key].name;
     this.$store.state.img = this.img;

     this.$store.commit('setImgDefault',this.defImage);
 }

</script>

<style scoped>

 .image-list{
     color:black;
 }

 .delImg:hover{
     cursor:pointer;
 }

</style>
