<form class="col s12">
    <div class="row">
	<div class="input-field col s6">

	    <input  id="art" v-model="product.art" type="text" class="validate">
	    <label v-if="!product.art" for="art">Артикл</label>

	</div>
	<div class="input-field col s6">
	    <input id="brand" v-model="product.brand" type="text" class="validate">
	    <label for="brand">Brand</label>
	</div>
    </div>


    <div class="row">

	<div class="input-field col s12">
	    <input id="name" v-model="name" type="text" class="validate">
	    <label for="name">Name</label>
	</div>

    </div>

    <div class="row">
	<div class="input-field col s6">
	    <input id="price" v-model="product.price" type="text" class="validate">
	    <label for="price">Price</label>
	</div>
	<div class="input-field col s6">
	    <input id="special_price" v-model="product.special_price" type="text" class="validate">
	    <label for="special_price">Special Name</label>
	</div>
    </div>

    <div class="row">
	<div class="input-field col s12">
	    <input id="url" v-model="product.url_key"  type="text" class="validate">
	    <label for="url">URL Address</label>
	</div>
    </div>
</form>
