
<div id = "product-form" >
    <div  class="row">
	<div class="row">
	    <div class="col s12">
		<ul class="tabs">

		    <li class="tab col s2"><a class="active" href="#test1">Характеристика</a></li>
		    <li class="tab col s2"><a  href="#test2">Изображения</a></li>
		    <li class="tab col s2"><a  href="#test3">Описание</a></li>
	            <li class="tab col s2"><a href="#test4">Компоненты</a></li>
	            <li class="tab col s2"><a href="#test5">Дополняющие</a></li>
		    
		    <!--
			 <li class="tab col s2"><a href="#test6">Похожие</a></li>
                    -->

		</ul>
	    </div>

	    <div id="test1" class="col s12 form_tub">
                <info></info>
	    </div>

	    <div id="test2" class="col s12 form_tub">
		<imgLoader></imgLoader>
	    </div>

	    <div id="test3" class="col s12 form_tub">
		<description></description>
	    </div>


	    <div id="test4" class="col s12 form_tub">
		<componentSelection
		    @changePrice="changePrice"
		    @changeArt="changeArt">
		</componentSelection>
	    </div>

	    <div id="test5" class="col s12 form_tub">
		<list></list>
	    </div>


            <!--


		 <div id="test6" class="col s12 form_tub">
		 <list></list>
		 </div>

 		 <div id="test7" class="col s12 form_tub">
		 <list></list>
		 </div>

            -->

	</div>


	<a class="waves-effect waves-light btn" @click="saveProduct">Сохранить</a>
	<a class="waves-effect waves-light btn" @click="delProduct">Удалить</a>
	<a class="waves-effect waves-light btn" @click ="copyProduct">Копировать</a>

	<!--

	     <a class="waves-effect waves-light btn" @click="saveProduct">Сох</a>
             <div class="prod" v-if="product">{{product}}</div>
	     <hr>
             <div class="resp" >{{resp}}</div>



             <div class="resp" >{{resp}}</div>
             <div class="resp" >{{id}}</div>
             <div class="resp" >{{product}}</div>

	-->

    </div>
</div>
