
<template id="AdminProduct">

    <div  class="row">
	<div class="col s11 white content">
	    <div class="list-wrapper"></div>
	    


	    <productForm  
		:id ="id" 	 
		:name="name"
		:product="product"
                @copyProduct="copyProduct"
	    >



	    </productForm>

	</div>
    </div>

</template>




<script>

 import productForm from "./ProductForm.vue";

 export default {

     name: "AdminProduct",
     template: "#AdminProduct",

     components: {
	 productForm
     },

     data,
     methods:{
	 copyProduct,
     },


     //beforeCreate:[copyProduct],
     //beforeCreate:[productInit],

     beforeMount:[productInit],

 };

 function data(){

     return{

         id: this.$route.params.id,

	 product:{
             id:"",
	     art:"",
	     name:"",
	     brand:"",
	     price:null,
	     special_price:null,
	     url_key:""
	 },

	 name:"",

     }
 }


 function copyProduct(product){

     this.product = product;
     this.product.id = "new";
     this.product.art = "";
     window.open('/admin/product/new');

 }


 function productInit(){
     if(this.id !== "new"){
	 this.$http.post('/api/product/showProduct',this.$route.params)
	     .then(response=>{

		 this.name = response.body.name;
		 this.product = response.body;
		 return response;
	     })
	     .then(resp =>{
		 console.log(this.product.id);
	     })
     }
 }
 


</script>


<style scoped>

 .line{

     margin-top:100px;
     margin-bottom:100px;
     height:50px;
     background-color:grey;

 }

</style>
