
<template id="description">

    <form class="col s12">
	<div class="align button-wrapper" @click="addAtr">
	    <a class="btn-floating btn-large waves-effect waves-light tial"><i class="material-icons">add</i></a>
	</div>

	<div v-for="(value,key,ind) in descriptions" class="row" :key="value.id">

	    <div class="input-field col s6">
		<i class="material-icons prefix">mode_edit</i>

		<textarea id="icon_prefix2" v-model="value.name" class="materialize-textarea"></textarea>
		<!--
		     <label for="icon_prefix2">
		     "Название описания"
		     </label>
		-->

		<i v-bind:id="key" class="small material-icons" @click="delAtr($event)">close</i>

                <!--
		     <editor v-model="content[val.id]"></editor>
                -->

		<ckeditor :editor="editor" v-model="value.data" :config="editorConfig"></ckeditor>

	    </div>
	</div>

        <!--
	     {{this.$store.state.description}}
        -->

    </form>

</template>

<script>


 import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

 export default{

     name:'description',
     template:'#description',
     data:data,

     mounted(){

	 if(this.$route.params.id !== "new"){
	     this.$http.post('/api/product/showProduct',this.$route.params)
		 .then(response=>{

		     this.descriptions = JSON.parse(response.body.description);
		     if(!this.descriptions) this.descriptions = new Array();
		     return response;

		 })
		 .then(resp =>{
		     //console.log(resp);
		 })

	 }

     },

     methods:{
	 addAtr:addAtr,
	 delAtr:delAtr
     },

     components:{
	  //'editor': ClassicEditor,
     },

     watch:{
         descriptions: function(){
             this.$store.state.description = this.descriptions;
	 }
     }

 }

 function data(){
     return{

	 descriptions:[],
         tempDescription:{
             id:0,
	     name:"",
	     data:"",
	 },



	 atr:[],
	 content:[],

	 editor: ClassicEditor,
         editorData: "",
         editorConfig: {
	     
             // The configuration of the editor.

         }
     }
 }

 function addAtr(e){

     let description = new Object();

     description.id = this.tempDescription.id;
     description.name = this.tempDescription.name;
     description.data = this.tempDescription.data;

     this.descriptions.push(description);
     this.tempDescription.id++;


     /*
	let id = 0;
	let name = "";
	//const description = this.content[id];

	return (this.addAtr=()=>{
	this.atr.push({id:id,name:name,data:this.content[id]});
        name = this.atr[id].name;
	id++;
	})();
      */
 }

 function delAtr(e){

     let index = e.target.id;
     this.descriptions.splice(index, 1);

 }

</script>

<style scoped>

</style>
