<template>
    <div id = "left-menu" class="sidenavleft col s2 grey lighten-2 nav">
	<ul class="collapsible collapsible-accordion">
	    <li v-for="item in menu">
		<div class="collapsible-header"><i class="material-icons">filter_drama</i>


		    <!--  
		    <router-link :to="item.link">
			{{item.name}}
		    </router-link>
                    -->


	            <a :href="item.link">{{item.name}}</a> 	    
		    
		</div>

		<!--
		     <div class="collapsible-body">
		     <ul>
		     <li>
		     <span>
		     <router-link to="/product">Открыть список</router-link>
		     </span>

		     </li>
		     </ul>
		     </div>
		-->

	    </li>
	</ul>

    </div>
</template>


<script>

 export default{
     name:"leftMenu",
     template:"#left-menu",
     data:data
 }


 function data(){
     return {

	 menu:[
	     {id:0,
	      name:'Главная',
	      link:'/admin'
	     },


	     /*
  	     {id:1,
	      name:'Каталоги',
	      link:'/admin/catalog'
	     },

  	     {id:11,
	      name:'Новый Каталоги',
	      link:'/admin/catalog/new'
	     },
             */


	     {id:2,
	      name:'Категории',
	      link:'/admin/categories'
	     },
	     {id:21,
	      name:'Новая Категория',
	      link:'/admin/category/new'
	     },
	     {id:3,
	      name:'Товары',
	      link:'/admin/products'
	     },
	     {id:31,
	      name:'Новый товар',
	      link:'/admin/product/new'
	     },
	     {id:4,
	      name:'Заказы',
	      link:'/admin/orders'
	     },

	     /*
	     {id:5,
	      name:'На главную',
	      link:'/'
	     }
             */

	     {id:5,
	      name:'Выйти',
	      link:'/logout'
	     }

	 ]}
 }

</script>

<style scoped>

 #left-menu{
     height:100vh;
 }

 .nav.col{
     margin-left:0;
     float:none;
 }
</style>
