
<template id = "product-form" >
    <div  class="row">
	<div class="row">
	    <div class="col s12">
		<ul class="tabs">

		    <li class="tab col s2"><a class="active" href="#test1">Характеристика</a></li>
		    <li class="tab col s2"><a  href="#test2">Изображения</a></li>
		    <li class="tab col s2"><a  href="#test3">Описание</a></li>
	            <li class="tab col s2"><a href="#test4">Компоненты</a></li>

		    <!--

	            <li class="tab col s2"><a href="#test5">Дополняющие</a></li>
	            <li class="tab col s2"><a href="#test6">Похожие</a></li>

                    -->

		</ul>
	    </div>





	    <div id="test1" class="col s12 form_tub">

		<form class="col s12">
		    <div class="row">
			<div class="input-field col s6">

			    <input  id="art" v-model="product.art" type="text" class="validate">
			    <label v-if="!product.art" for="art">Артикл</label>

			</div>
			<div class="input-field col s6">
			    <input id="brand" v-model="product.brand" type="text" class="validate">
			    <label v-if="!product.brand" for="brand">Brand</label>
			</div>
		    </div>


		    <div class="row">

			<div class="input-field col s12">
			    <input id="name" v-model="name" type="text" class="validate">
			    <label v-if="!product.name" for="name">Name</label>
			</div>



			<!--
			     <div class="input-field col s6">
			     <input id="short_name" v-model="product.shortName" type="text" class="validate">
			     <label for="short_name">Short Name</label>
			     </div>
			-->



		    </div>

		    <div class="row">

			<div class="input-field col s6">
			    <input id="price" v-model="product.price" type="text" class="validate">
			    <label v-if="!product.price" for="price">Price</label>
			</div>

			<div class="input-field col s6">
			    <input id="special_price" v-model="product.special_price" type="text" class="validate">
			    <label v-if="!product.special_price" for="!product.special_price">Special Name</label>
			</div>

		    </div>

		    <div class="row">
			<div class="input-field col s12">
			    <input id="url" v-model="product.url_key"  type="text" class="validate">

			    <!--
			    <label v-if="!product.url" for="!product.url">URL Address</label>
			    -->

			</div>
		    </div>

		</form>
	    </div>





	    <div id="test2" class="col s12 form_tub">
		<imgLoader></imgLoader>
	    </div>



	    <div id="test3" class="col s12 form_tub">
		<description></description>
	    </div>



	    <div id="test4" class="col s12 form_tub">
		<componentSelection
		    @changePrice="changePrice"
		    @changeArt="changeArt">
		</componentSelection>
	    </div>


            <!--



	         <div id="test5" class="col s12 form_tub">
		   <list></list>
	         </div>






		 <div id="test6" class="col s12 form_tub">
		 <list></list>
		 </div>

 		 <div id="test7" class="col s12 form_tub">
		 <list></list>
		 </div>

            -->

	</div>


	<a class="waves-effect waves-light btn" @click="saveProduct">Сохранить</a>
	<a class="waves-effect waves-light btn" @click="delProduct">Удалить</a>
	<a class="waves-effect waves-light btn" @click ="copyProduct">Копировать</a>

	<!--

	     <a class="waves-effect waves-light btn" @click="saveProduct">Сох</a>
             <div class="prod" v-if="product">{{product}}</div>
	     <hr>
             <div class="resp" >{{resp}}</div>


       
        <div class="resp" >{{resp}}</div>
        <div class="resp" >{{id}}</div>
        <div class="resp" >{{product}}</div>

	-->

    </div>
</template>


<script>

 import { mapGetters } from 'vuex';

 import list from "./table/table.vue";

 import componentSelection from "./ComponentSelection.vue";

 import imgLoader from './ImgLoader.vue';

 import description from './description.vue';


 export default{

     name:"productForm",
     template:'#product-form',
     data:data,

     props:{
	 
	 id:[String,Number],
	 product:Object,
	 name:String

     },

     components: {
	 description,
	 'list': list,
	 imgLoader,
         componentSelection
     },


     computed:{
	 ...mapGetters(['getProduct','getImg','getDescription','getImgDefault','getProductComponents']),
     },


     watch:{

         name:function(val){

	     this.product.name = this.name;
             this.product.url_key = this.urlRusLat(val);

	 },
	 
	 /*
	 'product.name':function(val){

	     this.product.name = this.name;
             this.product.url_key = this.urlRusLat(val);
	 }
         */

     },

     methods:{
	 createProduct,
	 saveProduct,
	 editProduct,
	 copyProduct,
	 urlRusLat,
	 delProduct,
	 changePrice,
	 changeArt
     },

     mounted(){
	 $(document).ready(function(){
	     $('.tabs').tabs();
	 });
     },

 }

 function data(){

     return {

	 requestObj:[],
	 resp:"",
	 //name:"",
	 //id:"",

	 /*
	 product:{
             id:"",
	     art:"",
	     name:"",
	     //shortName:"shortName",
	     brand:"",
	     price:null,
	     special_price:null,
	     url_key:""
	 },
         */
	 
	 images:{
             name:"",
	     size:"",
	     format:"",
	     data:""
	 },

     }
 }

 function editProduct(){



     this.$store.commit('saveProduct',this.product);

     this.requestObj.push(this.getProduct);
     this.requestObj.push(this.getImg);
     this.requestObj.push(this.getDescription);
     this.requestObj.push(this.getImgDefault);
     this.requestObj.push(this.getProductComponents);


     /*
     console.log(this.getProductComponents);
     console.log(this.requestObj);
     */


     this.$http.post('/api/product/edit',this.requestObj)
	 .then(response=>{
             this.resp = response.body;
	     //console.log(response.body);
             return response;
	 })
         .then(resp =>{
             alert("Сохранение успешно");
	 })
	 .catch(function genericError(error) {
             alert("Ошибка сохранения"); // Error: Not Found
         });

     this.requestObj = [];

 }



 function createProduct(){

     this.$store.commit('saveProduct',this.product);
     this.requestObj.push(this.getProduct);
     this.requestObj.push(this.getImg);
     this.requestObj.push(this.getDescription);
     this.requestObj.push(this.getImgDefault);
     this.requestObj.push(this.getProductComponents);


     this.$http.post('/api/product/save',this.requestObj)
	 .then(response=>{
             this.resp = response.body;
             return response;
	 })
         .then(resp =>{
             alert("Сохранение успешно");
	 })
	 .catch(function genericError(error) {
             alert("Ошибка сохранения"); // Error: Not Found
         });

     this.requestObj = [];

 }

 function saveProduct(){

     this.$route.params.id == "new" ? this.createProduct() : this.editProduct();

 }


 function delProduct(){

     this.$http.post('/api/product/delete',this.$route.params.id)
	 .then(response=>{

	     window.location='/admin/product'
             this.resp = response.body;
             return response;

	 })
         .then(resp =>{
             console.log(resp);
	 })

 }


 function changePrice(price){
     this.product.price = price[0];
     this.product.special_price = price[1];

 }

 function changeArt(art){
     let a = this.product.brand +"_"+art;
     this.product.art = a.toLowerCase();
 }



 function copyProduct(){

     this.$emit('copyProduct',this.product);
 }



 //Транслитерация кириллицы в URL
 function urlRusLat(str) {
     str = str.toLowerCase(); // все в нижний регистр
     var cyr2latChars = new Array(
	 ['а', 'a'], ['б', 'b'], ['в', 'v'], ['г', 'g'],
	 ['д', 'd'],  ['е', 'e'], ['ё', 'yo'], ['ж', 'zh'], ['з', 'z'],
	 ['и', 'i'], ['й', 'y'], ['к', 'k'], ['л', 'l'],
	 ['м', 'm'],  ['н', 'n'], ['о', 'o'], ['п', 'p'],  ['р', 'r'],
	 ['с', 's'], ['т', 't'], ['у', 'u'], ['ф', 'f'],
	 ['х', 'h'],  ['ц', 'c'], ['ч', 'ch'],['ш', 'sh'], ['щ', 'shch'],
	 ['ъ', ''],  ['ы', 'y'], ['ь', ''],  ['э', 'e'], ['ю', 'yu'], ['я', 'ya'],

	 ['А', 'A'], ['Б', 'B'],  ['В', 'V'], ['Г', 'G'],
	 ['Д', 'D'], ['Е', 'E'], ['Ё', 'YO'],  ['Ж', 'ZH'], ['З', 'Z'],
	 ['И', 'I'], ['Й', 'Y'],  ['К', 'K'], ['Л', 'L'],
	 ['М', 'M'], ['Н', 'N'], ['О', 'O'],  ['П', 'P'],  ['Р', 'R'],
	 ['С', 'S'], ['Т', 'T'],  ['У', 'U'], ['Ф', 'F'],
	 ['Х', 'H'], ['Ц', 'C'], ['Ч', 'CH'], ['Ш', 'SH'], ['Щ', 'SHCH'],
	 ['Ъ', ''],  ['Ы', 'Y'],
	 ['Ь', ''],
	 ['Э', 'E'],
	 ['Ю', 'YU'],
	 ['Я', 'YA'],

	 ['a', 'a'], ['b', 'b'], ['c', 'c'], ['d', 'd'], ['e', 'e'],
	 ['f', 'f'], ['g', 'g'], ['h', 'h'], ['i', 'i'], ['j', 'j'],
	 ['k', 'k'], ['l', 'l'], ['m', 'm'], ['n', 'n'], ['o', 'o'],
	 ['p', 'p'], ['q', 'q'], ['r', 'r'], ['s', 's'], ['t', 't'],
	 ['u', 'u'], ['v', 'v'], ['w', 'w'], ['x', 'x'], ['y', 'y'],
	 ['z', 'z'],

	 ['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'],['E', 'E'],
	 ['F', 'F'],['G', 'G'],['H', 'H'],['I', 'I'],['J', 'J'],['K', 'K'],
	 ['L', 'L'], ['M', 'M'], ['N', 'N'], ['O', 'O'],['P', 'P'],
	 ['Q', 'Q'],['R', 'R'],['S', 'S'],['T', 'T'],['U', 'U'],['V', 'V'],
	 ['W', 'W'], ['X', 'X'], ['Y', 'Y'], ['Z', 'Z'],

	 [' ', '_'],['0', '0'],['1', '1'],['2', '2'],['3', '3'],
	 ['4', '4'],['5', '5'],['6', '6'],['7', '7'],['8', '8'],['9', '9'],
	 ['-', '-']

     );

     var newStr = new String();

     for (var i = 0; i < str.length; i++) {

         let ch = str.charAt(i);
         var newCh = '';

         for (var j = 0; j < cyr2latChars.length; j++) {
             if (ch == cyr2latChars[j][0]) {
                 newCh = cyr2latChars[j][1];

             }
         }
         // Если найдено совпадение, то добавляется соответствие, если нет - пустая строка
         newStr += newCh;

     }
     // Удаляем повторяющие знаки - Именно на них заменяются пробелы.
     // Так же удаляем символы перевода строки, но это наверное уже лишнее
     return newStr.replace(/[_]{2,}/gim, '_').replace(/\n/gim, '');
 }

</script>





<style scoped>

 .image-list{
     color:black;
 }

 .delImg:hover{
     cursor:pointer;
 }

 .form_tub{
     height:100%;
 }

</style>
