
<template id="AdminProduct">
    <div  class="row">
	<div class="col s10 white content">
	    <div class="list-wrapper"></div>
	    <productForm></productForm>
	</div>
    </div>
</template>

<script>

 //import list from "./table.vue";
 import productForm from "./ProductForm.vue";

 export default {
     name: "AdminProduct",
     template: "#AdminProduct",
     components: {
	 //list,
	 productForm
     }
 };

</script>

<style scoped>

 .line{
     margin-top:100px;
     margin-bottom:100px;
     height:50px;
     background-color:grey;
 }
 .nav{

     height:100vh;

 }

</style>
