<template id="catalogItem">

    <div class="wrapperItem">

	<div class="input-field col s3">
	    <input v-model="itemName" id="item_name" type="text" class="validate">
	    <label for="last_name">Name</label>
	</div>

	<div class="input-field col s3">
	    <input v-model="itemUrl" id="item_url" type="text" class="validate">
	    <label for="last_name">URL</label>
	</div>

	<div class="file-field input-field col s3">
	    <div class="btn">
		<span>File</span>
		<input type="file" multiple>
	    </div>
	    <div class="file-path-wrapper">
		<input class="file-path validate" type="text" placeholder="Upload one or more files">
	    </div>
	</div>

	<i v-on:click ="removeThis" class="small material-icons">close</i>
	<slot></slot>
    </div>

</template>


<script>

 export default{

     name:"catalogItem",
     props:['ind'],
     template:"#catalogItem",
     data:data,
     methods:{
	 removeThis,
     },

     watch:{

	 itemName(){
	     /*
		console.log(this.ind);
		console.log(this.itemName);
	      */

	     this.$emit('initItem',this.ind,this.itemName);
	 },

	 itemUrl(){
	     //console.log(this.itemUrl);
	     this.$emit('initItem');
	 }

     }

 }

 function data(){
     return{

	 itemName:"",
	 itemUrl:"",
	 file:""

     }
 };

 function removeThis(){
     this.$emit('removeItem');
 }


</script>

<style scoped>

 .wrapper{

     height:100vh;
     width:100%;
     background-color:white;

 }

 .input-field{

     display:flex;

 }

 .catalogName{
     display:flex;
 }

 .catalogName>.col{
     margin-left:0px;
 }

 .itemWrapper{
     display:flex;
 }

 .ItemName{
     display:flex;
 }


 .ItemName>.col{
     margin-left:0px;
 }

 .wrapperItem{
     display:flex;
 }

</style>
