
<template id = "catalog-form">
    <div class="wrapper">

	<form class="col s12">

	    <div class="catalogName">


		<div class="input-field col s6">
		    <input v-model="catalog.name" placeholder="Название каталога" id="first_name" type="text" class="validate">
		</div>


		<div class="align button-wrapper" v-on:click="addSection">
		    <a class="btn-floating btn-large waves-effect waves-light tial"><i class="material-icons">add</i></a>
		</div>


	    </div>


	    <div v-if="catalog">{{catalog}}</div>



	    <catalogSection v-for="(section,ind) in catalog.sections"
			    :item ="section"
			    :ind="ind"
			    :key="section.id"
	                    v-on:removeSection="removeSection(ind)"
	                    v-on:removeItem="removeItem"
	                    v-on:setSectionName="setSectionName"
			    v-on:initItem="initItem"
			    v-on:addItem="addItem">
	    </catalogSection>


	</form>
    </div>

</template>



<script>

 import list from "./table.vue";
 import imgLoader from './ImgLoader.vue';
 import description from './description.vue';
 import catalogSection from './catalogSection.vue';
 import catalogItem from './catalogItem.vue';

 export default{

     name:"catalogForm",
     template:'#catalog-form',
     data:data,

     methods:{
	 addSection,
	 removeSection,
	 setSectionName,
	 initItem,
	 addItem,
	 removeItem,
     },


     components:{

	 "description":description,
	 "list": list,
	 "imgLoader":imgLoader,
	 "catalogSection":catalogSection

     }

     //created:init

 }


 function data(){
     return {
	 id:0,
	 sectionName:"section",
	 catalog:{
	     id:'',
	     name:'',
	     sections:[]
	 }
     }
 }

 function addSection(e){
     this.catalog.sections.push({
	 id:this.id++,
	 name:'',
	 items:[]
     });

 }

 function addItem(indSection,item){
     this.catalog.sections[indSection].items.push(item);
 }

 function removeSection(ind){
     this.catalog.sections.splice(ind, 1);
 }

 function setSectionName(ind,name){
     this.catalog.sections[ind].name = name;
 }

 function initItem(indSection,indItem,nameItem){
     this.catalog.sections[indSection].items[indItem].name = nameItem;
 }

 function removeItem(indSection,indItem){
     this.catalog.sections[indSection].items.splice(indItem,1);
 }

</script>




<style scoped>

 .wrapper{
     height:100vh;
     width:100%;
     background-color:white;
 }

 .input-field{
     display:flex;
 }

 .catalogName{
     display:flex;
 }

 .catalogName>.col{
     margin-left:0px;
 }

 .itemWrapper{
     display:flex;
 }

 .ItemName{
     display:flex;
 }


 .ItemName>.col{
     margin-left:0px;
 }

</style>
