<template id="catalogSection">
    <div class="sectionWrapper">
	<div class="ItemName">
	    <div class="input-field col s6">

		<i class="material-icons prefix">mode_edit</i>
		<textarea v-model="sectionName" id="icon_prefix2" class="materialize-textarea"></textarea>

		<!--  		<label for="icon_prefix2">Название пункта</label>  -->

		<label for="icon_prefix2">Section Name</label>

		<div class="align button-wrapper">
		    <a @click="addItem" class="btn-floating btn-large waves-effect waves-light tial"><i class="material-icons">add</i></a>
		</div>

		<i  v-on:click="removeSection" class="small material-icons">close</i>

	    </div>
	</div>



	<catalogItem v-for="(item,ind) in items"
		     :item="item"
		     :ind ="ind"
		     :key ="item.id"
		     v-on:removeItem="removeItem(ind)"
		     v-on:initItem="initItem"
	>
	</catalogItem>


	<slot></slot>
    </div>
</template>


<script>

 import catalogItem from "./catalogItem.vue"

 export default{

     name:"catalogSection",
     props:['ind'],
     template:"#catalogSection",
     data:data,

     methods:{
	 removeSection,
	 addItem,
	 removeItem,
	 initItem,
	 addItem
     },

     watch:{
	 sectionName:function(){
             this.$emit('setSectionName',this.ind,this.sectionName);
	 },

     },

     components:{
	 'catalogItem':catalogItem
     }
 }

 function data(){
     return{
	 id:0,
	 items:[],
	 name:"",
	 sectionName:""
     }
 };

 function removeSection(){
     this.$emit('removeSection');
 }


 function removeItem(indItem){
     let a = this.items.splice(indItem,1);
     this.$emit('removeItem',this.ind,indItem);
 }


 function addItem(){

     let item = {
	 id:this.id++,
	 name:this.name,
	 img:{}
     }

     this.items.push(item);
     this.$emit('addItem',this.ind,item);

 }

 function initItem(indItem,nameItem){
     this.$emit('initItem',this.ind,indItem,nameItem);
 }

</script>

<style scoped>

 .wrapper{

     height:100vh;
     width:100%;
     background-color:white;

 }

 .input-field{

     display:flex;

 }

 .catalogName{
     display:flex;
 }

 .catalogName>.col{
     margin-left:0px;
 }

 .itemWrapper{
     display:flex;
 }

 .ItemName{
     display:flex;
 }


 .ItemName>.col{
     margin-left:0px;
 }
</style>
