<template id="description">

    <form class="col s12">
	<div class="align button-wrapper" v-on:click="addAtr">
	    <a class="btn-floating btn-large waves-effect waves-light tial"><i class="material-icons">add</i></a>
	</div>

	<div v-for="(val,key,ind) in atr" class="row">
	    <div class="input-field col s6">
		<i class="material-icons prefix">mode_edit</i>
		<textarea id="icon_prefix2" class="materialize-textarea"></textarea>
		<label for="icon_prefix2">
		    {{val.name}}
		</label>
		<i v-bind:id="key" class="small material-icons" v-on:click="delAtr">close</i>
		<editor v-model="content[val.id]"></editor>
	    </div>
	</div>
    </form>

</template>

<script>

 import Editor from '@tinymce/tinymce-vue';

 export default{
     name:'description',
     template:'#description',
     data:data,
     methods:{
	 addAtr:addAtr,
	 delAtr:delAtr
     },
     components:{
	 'editor': Editor
     }
 }

 function data(){
     return{
	 atr:[],
	 content:[]
     }
 }
 function addAtr(e){

     let id = id || 0;
     const name = name ||'Название Описания';

     return (this.addAtr=()=>{
	 this.atr.push({id:id,name:name,data:this.content[id]});
	 id++;
     })();
 }

 function delAtr(e){
     let index = e.target.id;
     let a = this.atr.splice(index, 1);
 }

</script>

<style scoped>

</style>
