<template id="imgLoader">
    <div>
	<form action="#">
	    <div class="file-field input-field">
		<div class="btn">
		    <span>File</span>
		    <input class="uploadBtn" type="file" multiple>
		</div>
		<div class="file-path-wrapper">
		    <input v-on:change ="uploadFiles" class="file-path validate" type="text" placeholder="Upload one or more files">
		</div>
	    </div>
	</form>

	<ul class="image-list">
	    <li v-for="(v,key) in img">
		<p>

		    <label class ="radio">
			<input class="with-gap" name="group1" type="radio"  />
			<span></span>
		    </label>

		    <span>
			<img v-bind:src="v.data" class="img" height="100" alt="Image preview...">
			<span>
			    {{v.name}}
			</span>
		    </span>

		    <i v-bind:id="key" class="small material-icons delImg" v-on:click="delImg">close</i>

		</p>
	    </li>
	</ul>
    </div>
</template>

<script>

 export default{
     name:"imgLoader",
     template:'#imgLoader',
     data:data,
     methods:{
	 uploadFiles:uploadFiles,
	 delImg:delImg
     }

 }

 /*
    function classof(o) {
    if (o === null) return "Null";
    if (o === undefined) return "Undefined";
    return Object.prototype.toString.call(o).slice(8,-1);
    }
  */

 function data(){
     return {
	 img:[]
     }
 }

 function uploadFiles(e) {

     //let uploadLine = $('.file-path');
     //let uploadBtn = $('.uploadBtn');
     //let preview = document.querySelector('img');

     let uploadBtn = $('.uploadBtn');
     let file = $(uploadBtn)[0].files;

     if (file) {
	 let i = 0;
	 for(let f of file){

	     let reader  = new FileReader();

	     reader.readAsDataURL(f);
	     reader.onloadend = (e) => {
		 this.img.push({id:i++,name:f.name,data:reader.result});
	     }

	 }
     }else{
	 preview.src = "";
     }
 }

 function delImg(e){
     let index = e.target.id;
     this.img.splice(index, 1);
 }
</script>

<style scoped>

 .image-list{
     color:black;
 }

 .delImg:hover{
     cursor:pointer;
 }

</style>
