<template id = "left-menu">
    <div class="sidenavleft col s2 grey lighten-2 nav">
	<ul class="collapsible collapsible-accordion">
	    <li v-for="item in menu">
		<div class="collapsible-header"><i class="material-icons">filter_drama</i>
		    <router-link :to="item.link">
			{{item.name}}
		    </router-link>
		</div>

		<!--
		<div class="collapsible-body">
		    <ul>
			<li>
			    <span>
				<router-link to="/product">Открыть список</router-link>
			    </span>

			</li>
		    </ul>
		</div>
		-->

	    </li>
	</ul>

    </div>
</template>


<script>

 export default{
     name:"leftMenu",
     template:'#left-menu',
     data:data
 }


 function data(){
     return {
	 menu:[
	     {id:0,
	      name:'Главная',
	      link:'/admin'
	     },

  	     {id:1,
	      name:'Каталоги',
	      link:'/admin/catalog'
	     },

  	     {id:11,
	      name:'Новый Каталоги',
	      link:'/admin/catalog/new'
	     },

	     {id:2,
	      name:'Категории',
	      link:'/admin/category'
	     },
	     {id:3,
	      name:'Товары',
	      link:'/admin/product'
	     },
	     {id:4,
	      name:'Новый товар',
	      link:'/admin/product/new'
	     },
	     {id:4,
	      name:'Заказы',
	      link:'/admin/order'
	     }
	 ]}
 }

</script>

<style scoped>

 .nav.col{
     margin-left:0;
     float:none;
 }
</style>
