<template id = "product-form">
    <div class="row">
	<div class="row">
	    <div class="col s12">
		<ul class="tabs">
		    <li class="tab col s2"><a class="active" href="#test1">Характеристика</a></li>
		    <li class="tab col s2"><a  href="#test2">Изображения</a></li>
		    <li class="tab col s2"><a  href="#test3">Описание</a></li>
		    <li class="tab col s2"><a href="#test5">Компоненты</a></li>
		    <li class="tab col s2"><a href="#test6">Похожие</a></li>
		    <li class="tab col s2"><a href="#test7">Дополняющие</a></li>
		    <li class="tab col s1"><a href="#test8">SEO</a></li>
		</ul>
	    </div>

	    <div id="test1" class="col s12">
		<form class="col s12">
		    <div class="row">
			<div class="input-field col s6">

			    <input  id="sku" type="text" class="validate">
			    <label for="sku">Артикл</label>

			</div>
			<div class="input-field col s6">
			    <input id="brand" type="text" class="validate">
			    <label for="brand">Brand</label>
			</div>
		    </div>


		    <div class="row">
			<div class="input-field col s6">
			    <input id="name" type="text" class="validate">
			    <label for="name">Name</label>
			</div>
			<div class="input-field col s6">
			    <input id="short_name" type="text" class="validate">
			    <label for="short_name">Short Name</label>
			</div>
		    </div>

		    <div class="row">
			<div class="input-field col s6">
			    <input id="price" type="text" class="validate">
			    <label for="price">Price</label>
			</div>
			<div class="input-field col s6">
			    <input id="special_price" type="text" class="validate">
			    <label for="special_price">Special Name</label>
			</div>
		    </div>

		    <div class="row">
			<div class="input-field col s12">
			    <input id="url" type="text" class="validate">
			    <label for="url">URL Address</label>
			</div>
		    </div>
		</form>
	    </div>

	    <div id="test2" class="col s12">
		<imgLoader></imgLoader>
	    </div>

	    <div id="test3" class="col s12">
		<description></description>
	    </div>

	    <div id="test5" class="col s12">
		<list></list>
	    </div>


	    <div id="test6" class="col s12">
		<list></list>
	    </div>


	    <div id="test7" class="col s12">
		<list></list>
	    </div>




	</div>



    </div>
</template>


<script>

 import list from "./table.vue";
 import imgLoader from './ImgLoader.vue';
 import description from './description.vue';

 export default{
     name:"productForm",
     template:'#product-form',
     data:data,
     methods:{
     },
     components: {
	 'description':description,
	 'list': list,
	 'imgLoader':imgLoader
     },
     created(){
	 
	 $(document).ready(function(){
	     $('.tabs').tabs();
	 });

     }
 }

 function data(){
     return {
	 list:[
	     {id:1,
	      name:'Каталоги'
	     },
	     {id:2,
	      name:'Категории'
	     },
	     {id:3,
	      name:'Товары'
	     },
	     {id:4,
	      name:'Заказы'
	     }
	 ]
     }
 }

</script>

<style scoped>
 .image-list{
     color:black;
 }

 .delImg:hover{
     cursor:pointer;
 }

</style>
